@import '../../../assets/utils/main';
body {
    @include body
}
.sign-in {
    height: 75.6875rem;
        &__image-wrapper {
            height: 42.75rem;
            background: url('/public/assets/img/rooms/sign-in.jpg');
            @include flex-center;
            background-size: cover;
        }
}