@import '../../../assets/utils/main';
body {
    @include body
}
.sign-in {
    height: 75.6875rem;
    width: 100%;
    min-width: 16rem;
    &__image-wrapper {
        height: 42.75rem;
        background: url('../../../assets/img/rooms/sign-in.jpg');
        @include flex-center;
        background-size: cover;
        width: 100%;
    }  
}