include ../../common/footer/footer
include ../../common/copyright/copyright
include ../../common/header/header
include ../../common/login/login 

mixin sign-in({header, footer, copyright})
    - let {classHeader, titlesNavbar, log, register} = header
    .sign-in
        +header(classHeader, titlesNavbar,log, register)
        .sign-in__image-wrapper
            +login 
        +footer (footer)
        +copyright(copyright)


