include ../../common/footer/footer
include ../../common/copyright/copyright
include ../../common/header/header
include ../../common/login/login 

mixin sign-in(options)
    - const {header, footer, copyright} = options
    .sign-in
        +header(header)
        .sign-in__image-wrapper
            +login 
        +footer(footer)
        +copyright(copyright)


