@import '../../../assets/utils/main';

.sign-in {
    min-height: 100%;
    width: 100%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    &__content {
      flex-grow: 1;
    }
    &__wrapper {
      flex-grow: 0;
    }
    &__image-wrapper {
        min-height: 42.75rem;
        background: url('../../../assets/img/rooms/sign-in.jpg');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        width: 100%;
    }
    &__container-login {
      margin: 0.5rem;
    }  
}

@media(max-width: 60rem) {
    .sign-in {
      &__image-wrapper {
        justify-content: center;
        padding-left: 0;
      }
    }
  }