mixin calendar-not-expand(placeholder)
    .calendar-not-expand
        input(type='text' class='datepicker-here' data-language='ru', placeholder= placeholder  data-position='bottom center' data-multiple-dates="5")