include ../../../../elements/buttons/button_short/button_short

mixin container-buttons
    .container-buttons
        .container-buttons__title Buttons
        .container-buttons__buttons
            +button_short("click me", "purple")
            +button_short("click me", "purple05")
            +button_short("click me", "white")
            +button_short("click me", "white05")
        .container-buttons__clickme
            span.container-buttons__clickme_first click me
            span.container-buttons__clickme_second click me
        