

body {
    p {
        margin: 0;
    }
    .colors-type {
        width: 100%;
        height: 100%;
        &__squares {        
            position: absolute;
            left: 150px;
            top: 145px;
        }
        &__title {
            position: absolute;
            left: 846px;
            top: 145px;    
        }
    }
}
