include ../../components/mixins-pages/colors-type/colors-type

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(name="keywords" content='Colors & type')
        meta(name="description" content='Colors & type')
        link(rel="icon" href="https://vodkamishka.github.io/hotel-webpack-pug-scss/public/favicon.ico")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        title Colors & type
    body
        +colors-type