include ../../components/body/body
include ../../components/elements/square/square
include ../../components/elements/logo-wrapper/logo-wrapper
include ./colors-title/colors-title
include ../../components/elements/logo-wrapper/logo-wrapper.pug 

mixin colors-type
    .colors-type
        +logo-wrapper  
        .colors-type__squares
            +block("shade", "Dark Shade 100%", "#1F2041")
            +block("shade75", "Dark Shade 75%", "#1F2041")
            +block("shade50", "Dark Shade 50%", "#1F2041")
            +block("shade25", "Dark Shade 25%", "#1F2041")
            +block("shade05", "Dark Shade 5%", "#1F2041")
            +block("purple", "Purple", "#BC9CFF")
            +block("green", "Green", "#6FCF97")
        .colors-type__title
            +colors-title("H1", "This one is the sub-section or widget title", "h1")
            +colors-title("H2", "Next one is the item title inside widget", "h2")
            +colors-title("H3", "This is a label or CTA text", "h3")
            +colors-title("Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc", "h4")

+body("Colors and types")
+colors-type