@import "../../../assets/utils/main";

.copyright {
  padding: 1.489rem 2rem;
  &__content {
    max-width: 72.5rem;
    flex-wrap: wrap;
    @include space-between;
    margin: 0 auto;
  }
  &__text {
    font-size: 0.875rem;
    color: $shade75;
    margin-right: 1rem;
  }
}

@media (max-width: 34.875rem) {
  .copyright {
    &__content {
      justify-content: center;
      flex-direction: column;
    }
    &__text {
      margin-bottom: 2rem;
      text-align: center;
    }
  }
}
