@import '../../../assets/utils/main';

.copyright {
    padding: 0 140px;
    height: 70px;
    @include space-between;
        &__text {
            font-size: 14px;
            line-height: 17px;
            color: $shade75;
        }   
}