.radio-buttons__radio
        label.radio-buttons__container Мужчина
            input(type="radio" checked name='gender')
            span.checkmark
        label.radio-buttons__container Женщина    
            input(type="radio" name='gender')
            span.checkmark