include ../checkbox-list/checkbox-list.pug

mixin checkbox-room-emenities (props)
    - const {list, title, clas } = props
    .checkbox-room-emenities    
        .checkbox-room-emenities__mainline
            .checkbox-room-emenities__title= title
            if (!clas)
                button.checkbox-room-emenities__button.checkbox-room-emenities__button_expand
            else
                button.checkbox-room-emenities__button     
        .checkbox-room-emenities__list(class= clas)
            +checkbox-list(list)

           

    