@import "../../../assets/utils/main";

.checkbox-room-emenities {
  &__mainline {
    @include align-items;
  }
  &__mainline {
    margin-bottom: 0.1525rem;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @include title-inputs;
  }
  &__button {
    background: url('../../../assets/img/icons/expand.svg')
      no-repeat center;
    width: 2.75rem;
    height: 2.75rem;
    border: none;
    &_expand {
      background: url('../../../assets/img/icons/expand_more.svg')
        no-repeat center;
    }
  }
  &_hide {
    display: none;
  }
}
