include ../../../elements/checkbox-room-emenities/checkbox-room-emenities
include ../../../elements/info-room/info-room
include ../../../elements/input/input
include ../../../elements/dropdowns-room-selection/dropdowns-room-selection

mixin form-elements-inputs(list)
    .form-elements-inputs
        .form-elements-inputs__container.form-elements-inputs__container_first
            +input('Email', 'input_no-modifier', 'long', 'text field', 'default')
        .form-elements-inputs__container.form-elements-inputs__container_second  
            +input('This is pretty awesome', 'input_hover', 'long', 'text field', 'hover / focus')
        .form-elements-inputs__container.form-elements-inputs__container_third
            +input('Сколько гостей', 'input_long', 'long', 'dropdown', 'default')
        .form-elements-inputs__container.form-elements-inputs__container_fourth
            +input('ДД.ММ.ГГГГ', 'input_no-modifier', 'long', 'masked text field', 'default')
        .form-elements-inputs__container.form-elements-inputs__container_sixth
            .form-elements-inputs__dropdown
                +input('ДД.ММ.ГГГГ','input_small', 'small', 'date dropdown')
            .form-elements-inputs__dropdown
                +input('19.08.2019','input_small', 'small', 'date dropdown')
        .form-elements-inputs__container.form-elements-inputs__container_seventh
            +input('19 авг - 23 авг','input_little', 'little', 'filter date dropdown')
        .form-elements-inputs__container.form-elements-inputs__container_eighth
            +input('Email', 'input_arrow', 'little', 'subscription text field')
        .form-elements-inputs__container.form-elements-inputs__container_ninth    
            +dropdowns-room-selection('2 спальни, 2 кровати', 'input_little input__input_border', 'little', 'dropdown', 'default', 'dropdowns-room-selection_hide')
        .form-elements-inputs__container.form-elements-inputs__container_tenth
            +dropdowns-room-selection('2 спальни, 2 кровати', 'input_little input__input_border', 'little', 'dropdown', 'expanded')
        .form-elements-inputs__container.form-elements-inputs__container_eleventh
            +checkbox-room-emenities(list, 'expandable checkbox list', 'checkbox-room-emenities_hide')
        .form-elements-inputs__container
            +checkbox-room-emenities(list, 'expandable checkbox list', )
        .form-elements-inputs__container.form-elements-inputs__container_incert-emotion
            +info-room('insert_emoticon', 'Комфорт', 'Шумопоглащающие стены')
        .form-elements-inputs__container.form-elements-inputs__container_location-city
            +info-room('location_city', 'Удобство', 'Окно в каждой из спален')