include ../../../elements/checkbox-room-emenities/checkbox-room-emenities
include ../../../elements/info-room/info-room
include ../../../elements/input/input
include ../../../elements/dropdowns-room-selection/dropdowns-room-selection

mixin form-elements-inputs(list)
    .form-elements-inputs
        .form-elements-inputs__container.form-elements-inputs__container_first
            +input({placeholder:'Email', classInput: 'input_no-modifier', classLabel: 'long', leftLabel: 'text field', rightLabel: 'default'})  
        .form-elements-inputs__container.form-elements-inputs__container_second  
            +input({placeholder: 'This is pretty awesome', classInput: 'input_hover', classLabel: 'long', leftLabel: 'text field', rightLabel: 'hover / focus'})
        .form-elements-inputs__container.form-elements-inputs__container_third
            +input({placeholder: 'Сколько гостей', classInput: 'input_long', classLabel: 'long', leftLabel: 'dropdown', rightLabel: 'default'})
        .form-elements-inputs__container.form-elements-inputs__container_fourth
            +input({placeholder: 'ДД.ММ.ГГГГ', classInput: 'input_no-modifier', classLabel: 'long', leftLabel: 'masked text field', rightLabel: 'default'})
        .form-elements-inputs__container.form-elements-inputs__container_sixth
            .form-elements-inputs__dropdown
                +input({placeholder: 'ДД.ММ.ГГГГ', classInput: 'input_small', classLabel: 'small', leftLabel: 'date dropdown'})
            .form-elements-inputs__dropdown
                +input({placeholder: '19.08.2019', classInput: 'input_small', classLabel: 'small', leftLabel:'date dropdown'})
        .form-elements-inputs__container.form-elements-inputs__container_seventh
            +input({placeholder: '19 авг - 23 авг', classInput: 'input_little', classLabel: 'little', leftLabel:'filter date dropdown'})
        .form-elements-inputs__container.form-elements-inputs__container_eighth
            +input({placeholder: 'Email', classInput: 'input_arrow', classLabel: 'little', leftLabel:'subscription text field'})
        .form-elements-inputs__container.form-elements-inputs__container_ninth    
            +dropdowns-room-selection({placeholder:'2 спальни, 2 кровати',  classInput: 'input_little input__input_border', classLabel: 'little', leftLabel: 'dropdown', rightLabel: 'default', classShowDropdown: 'dropdowns-room-selection_hide'})
        .form-elements-inputs__container.form-elements-inputs__container_tenth
            +dropdowns-room-selection({placeholder:'2 спальни, 2 кровати',  classInput: 'input_little input__input_border', classLabel: 'little', leftLabel: 'dropdown', rightLabel: 'expanded'})
        .form-elements-inputs__container.form-elements-inputs__container_eleventh
            +checkbox-room-emenities({list, title: 'expandable checkbox list', clas: 'checkbox-room-emenities_hide'})
        .form-elements-inputs__container
            +checkbox-room-emenities({list, title: 'expandable checkbox list'})
        .form-elements-inputs__container.form-elements-inputs__container_incert-emotion
            +info-room({img:'insert_emoticon', title: 'Комфорт', text: 'Шумопоглащающие стены'})
        .form-elements-inputs__container.form-elements-inputs__container_location-city
            +info-room({img:'location_city', title: 'Удобство', text: 'Окно в каждой из спален'})