include ../../../elements/input/input
include ../../../elements/dropdowns-guest-selection/dropdowns-guest-selection
include ../../../elements/dropdowns-room-selection/dropdowns-room-selection
include ../../../elements/checkbox-rich/checkbox-rich
include ../../../elements/checkbox-room-emenities/checkbox-room-emenities
include ../../../common/slider/slider
include ../../../elements/checkbox/checkbox

mixin search-room-filter-column(options)
    - const {checkboxList, list} = options
    .search-room-filter-column
        .search-room-filter-column__input
            +input('19 авг - 23 авг','input_little', 'little', 'даты пребывания в отеле')
        .search-room-filter-column__dropdowns
            +dropdowns-guest-selection('3 гостя, 1 младенец', 'input_little', 'little', 'гости', '',  'block', 'dropdowns-guest-selection_hide', 3, 0, 1)
        .search-room-filter-column__slider
            +slider('Диапазон цены')
            .search-room-filter-column__slider-text Стоимость за сутки пребывания в номере
        +checkbox(checkboxList)
        .search-room-filter-column__checkbox-rich
            +checkbox-rich('доступность')
        +dropdowns-room-selection('2 спальни,  2 кровати', 'input_little input__input_border', 'little', 'удобства номера', '',  'dropdowns-room-selection_hide')
        .search-room-filter-column__checkbox 
            +checkbox-room-emenities(list, 'дополнительные удобства', 'checkbox-room-emenities_hide')   