@import "../../../../assets/utils/main";

.search-room-filter-column {
    width: 16.625rem;
    &__input {
      margin-top: 0.0625rem;
    }
    &__dropdowns {
      margin: 1.2775rem 0 1.9025rem;
      
    }
    &__checkbox-rich {
      margin: 2rem 0 1.85rem;
    }
    &__checkbox {
      margin-top: 0.92rem;
      .checkbox-expandable__title {
        margin-right: 0.8125rem;
      }
    }
    &__slider {
      margin-bottom: 1.8rem;
      &-text {
        margin-top: 0.73rem;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: $shade50;
      }
    }
}
@media (max-width: 81.25rem) {
  .search-room-filter-column {
      margin-right: 2%;
  }
}
@media (max-width: 39.375rem) {
  .search-room-filter-column {
      margin: 0 auto;
  }
}
