include ../../../elements/input/input
include ../../../elements/dropdowns-guest-selection/dropdowns-guest-selection
include ../../../elements/dropdowns-room-selection/dropdowns-room-selection
include ../../../elements/checkbox-buttons/checkbox-buttons
include ../../../elements/checkbox-room-emenities/checkbox-room-emenities
include ../../../common/slider/slider
include ../../../elements/checkbox/checkbox

mixin search-room-filter-column(options)
    - const {checkboxList, list} = options
    .search-room-filter-column
        .search-room-filter-column__input
            +input({placeholder: '19 авг - 23 авг', className: 'little', leftLabel: 'даты пребывания в отеле', expand: 'expand'})
        .search-room-filter-column__dropdowns
            +dropdowns-guest-selection({placeholder: '3 гостя, 1 младенец', className: 'little', leftLabel: 'гости', rightLabel: '', showButtonClear: 'block', classShowDropdown: 'dropdowns-guest-selection_hide', x: 3, y: 0, z: 1})
        .search-room-filter-column__slider
            +slider('Диапазон цены')
            .search-room-filter-column__slider-text Стоимость за сутки пребывания в номере
        +checkbox(checkboxList)
        .search-room-filter-column__checkbox-rich
            +checkbox-buttons('доступность')
        +dropdowns-room-selection({placeholder: '2 спальни,  2 кровати', className: 'little input_border', leftLabel: 'удобства номера', classShowDropdown: 'dropdowns-room-selection_hide'})
        .search-room-filter-column__checkbox 
            +checkbox-room-emenities({list, title: 'дополнительные удобства', clas: 'checkbox-room-emenities_hide'})   