include ../label/label
include ../calendar/calendar
include ../input/input

mixin double-date-calendar 
    .double-date-calendar.js-double-date-calendar
        .double-date-calendar__inputs-wrapper
            .double-date-calendar__input.double-date-calendar__input_first
                +input({placeholder: 'ДД.ММ.ГГГГ', className: 'small', leftLabel: 'прибытие', readonly: true, expand: 'expand'})
            .double-date-calendar__input.double-date-calendar__input_second
                +input({placeholder: 'ДД.ММ.ГГГГ', className: 'small', leftLabel: 'выезд', readonly: true, expand: 'expand'})
        .double-date-calendar__calendar-wrapper.double-date-calendar__calendar-wrapper_hide.js-double-date-calendar__calendar-wrapper
            +calendar
            .double-date-calendar__buttons-wrapper 
                button.double-date-calendar__button-clear.js-double-date-calendar__button-clear очистить
                button.double-date-calendar__button-apply.js-double-date-calendar__button-apply применить