@import "../../../assets/utils/main";

.double-date-calendar {
  &__inputs-wrapper {
    display: flex;
  }
  &__input {
    position: relative;
    @include input-text;
    input[type="text"] {
      &::placeholder {
        color: $shade75;
      }
    background: none; // need to delete
    }
    &_first {
      margin-right: 1.25rem;
    }
  }
  &__label {
    margin-bottom: 0.3125rem;
  }
  &__button-tick {
    position: absolute;
    top: 2.1rem;
    right: 1rem;
    border: none;
    background: transparent;
  }
  &__calendar-wrapper {
    border: 0.0625rem solid rgba($shade25, 0.25);
    width: 100%;
    margin-top: 0.3rem;
    border-radius: 0.2857rem;
    &_hide {
      display: none;
    }
  }
  &__buttons-wrapper {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    button {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      text-transform: uppercase;
      border: none;
      background: transparent;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }
  &__button {
    &-clear {
      color: $shade50;
      margin-left: 1.25rem;
    }
    &-apply {
      color: $purple;
      margin-right: 1.25rem;
    }
  }
}

@media (max-width: 30rem) {
  .double-date-calendar {
    &__inputs-wrapper {
      flex-wrap: wrap;
    }
    &__input {
      width: 100%;
      input[type="text"]{
        width: 100%;
      }
    }
    &__input_first {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
}
