@import "../../../assets/utils/main";

.colors-title {
  display: flex;
  margin-bottom: 3.125rem;
  p:nth-child(1) {
    margin-right: 1.875rem;
    color: $shade25;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }
  p:nth-child(2) {
    color: $shade100;
    font-weight: bold;
  }
  &_first {
    p:first-child {
      font-size: 1.5rem;
      line-height: 1.8125rem;
      margin-left: 0.5rem;
    }
    p:last-child {
      font-size: 1.5rem;
      line-height: 1.875rem;
      width: 21rem;
      height: 3.75rem;
    }
  }
  &_second {
    p:first-child {
      font-size: 1.1875rem;
      line-height: 1.4375rem;
      margin-left: 0.5rem;
    }
    p:last-child {
      font-size: 1.1875rem;
      line-height: 1.5rem;
      width: 17.625rem;
      height: 3rem;
    }
  }
  &_third {
    margin-bottom: 2.99rem;
    p:first-child {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      margin-left: 1.125rem;
    }
    p:last-child {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      width: 11.625rem;
      height: 0.9375rem;
      text-transform: uppercase;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }
  }
  &_fourth {
    p:first-child {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
    p:last-child {
      font-size: 0.875rem;
      line-height: 1.5rem;
      width: 18.8125rem;
      height: 3rem;
      font-weight: normal;
      color: $shade75;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }
  }
  p {
    margin-right: 1.875rem;
  }
}
