@import "../../../assets/utils/main";

.colors-title {
  display: flex;
  &__letter {
    margin-right: 1.875rem;
    color: $shade25;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }
  &__title {
    color: $shade100;
    font-weight: bold;
  }
  &_first {
    .colors-title__letter {
      font-size: 1.5rem;
      line-height: 1.8125rem;
    }
    .colors-title__title {
      font-size: 1.5rem;
      line-height: 1.875rem;
      width: 21rem;
      height: 3.75rem;
    }
  }
  &_second {
    .colors-title__letter {
      font-size: 1.1875rem;
      line-height: 1.4375rem;
    }
    .colors-title__title {
      font-size: 1.1875rem;
      line-height: 1.5rem;
      width: 17.625rem;
      height: 3rem;
    }
  }
  &_third {
    .colors-title__letter {
      font-size: 0.75rem;
    }
    .colors-title__title {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      width: 11.625rem;
      height: 0.9375rem;
      text-transform: uppercase;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }
  }
  &_fourth {
    .colors-title__letter {
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-right: 1.7rem;
    }
    .colors-title__title {
      font-size: 0.875rem;
      line-height: 1.5rem;
      width: 18.8125rem;
      height: 3rem;
      font-weight: normal;
      color: $shade75;
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }
  }
}
