mixin room-details-images
    .room-details-images
        .room-details-images__picture
        .room-details-images__container-images
            .room-details-images__image
            .room-details-images__image.room-details-images__image_bottom