.room-details-images {
    display: flex;
    width: 100%;
  &__picture {
    width: 61.3125rem;
    height: 30.3125rem;
    background: url('/public/assets/img/rooms/8888.jpg')
      bottom;
  }
  &__image {
    width: 28.8125rem;
    height: 15.1875rem;
    background: url('/public/assets/img/rooms/picture-top.jpg')
      right no-repeat;
    background-size: cover;
  }
  &__image_bottom {
    background: url('/public/assets/img/rooms/picture-bottom.jpg')
      no-repeat;
  }
}
@media (max-width: 56.25rem) {
  .room-details {
    flex-wrap: wrap;
    &__container-images {
      display: flex;
      width: 100%;
    }
  }
}
@media (max-width: 31.25rem) {
  .room-details {
    &__container-images {
      flex-direction: column;
    }
    &__image {
      width: 100%;
    }
  }
}
