@import '../../../assets/utils/main';

.rich-checkbox {
    &__title {
        @include inputTitle;
        margin-bottom: 1rem;
    }
    @include input-checkbox;
        .check-list {
            margin-bottom: 0.25rem;
            span {
                font-weight: bold;
                font-size: 0.875rem;
                line-height: 1.125rem;
                color: $shade75;
            }
    }
    p {
        margin-left: 1.875rem;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: $shade50;
        width: 14.75rem;
        height: 1.75rem;
        margin-bottom: 0.625rem;
    }
}