@import '../../../assets/utils/_main.scss';

.form-elements {
    &__column-center {
        width: 320px;
        margin: 0 72px 0 126px;
    }
    &__container-checkbox {
        margin-top: 143px;        
    }
    &__container-radio {
        margin: 40.88px 0 36.56px 0;
    }
    &__container-like {
        margin-top: 44.44px;
    }
    &__container-rate {
        margin: 40px 0 196px 0;
    }
    &__container-rich {
        margin: 257.44px 0 0 0;
    }
    &__container-murad {
        margin-top: 232px;
    }
}
