include ../../../components/elements/dropdowns/dropdown.pug

.form-elements__column-center
    .form-elements__container-checkbox
        include ../../../components/elements/checkbox/checkbox.pug
    .form-elements__container-radio
        include ../../../components/elements/radio-buttons/radio-buttons.pug
    .form-elements__container-toggle
        include ../../../components/elements/toggle/toggle.pug
    .form-elements__container-like
        include ../../../components/elements/like-button/like-button.pug
    .form-elements__container-rate
        include ../../../components/elements/rate/rate.pug
    .form-elements__container-dropdown
        +longDropdown ( "dropdown", "", "", "Сколько гостей", "dropdowns-long without-border-radius")
    .form-elements__container-rich
        include ../../../components/elements/rich-checkbox/rich-checkbox.pug 
    .form-elements__container-murad
        include ./murad/murad.pug