@import "../../../../assets/utils/_main.scss";

.form-elements {
  &__column_left {
    width: 20rem;
    margin-left: 8.8125rem;
  }
  &__container-text-field {
    margin: 8.9375rem 0 1.2775rem 0;
  }
  &__container-dropdown {
    margin: 1.25rem 0 1.41rem 0;
  }
  &__container-date-dropdowns {
    margin: 2.5rem 0 2.535rem 0;
    display: flex;
    justify-content: space-between;
  }
  &__container-filter-date-dropdown {
    margin: 2.535rem 0 2.5625rem 0;
  }
  &__container-subscription-text-field {
    margin-bottom: 6.25rem;
  }
  &__container-dropdown_second {
    margin: 0 0 1.25rem 0;
  }
  &__container-dropdown_third {
    margin-bottom: 9.965rem;
  }
  &__container-checkbox-list {
    margin: 2.5275rem 0 1.25rem 0;
  }
  &__container_incert-emotion {
    margin: 2.5rem 0 2.5625rem 0;
  }
}
