@import "../../../../assets/utils/_main.scss";

.form-elements {
  &__column_left {
    width: 20.0625rem;
  }
  &__column_left_container {
    &-text-field {
      margin: 8.75rem 0 1.25rem 0.0625rem;
      .input {
        .label {
          &_left {
            margin-top: 0.1875rem;
          }
        }
      }
    }
    &-text-field_second {
      margin-left: 0.0625rem;
      .input {
        .label {
          &_right {
            margin-bottom: 0.0275rem;
            letter-spacing: -0.01rem;
          }
        }
        input::placeholder {
          color: $shade100;
          letter-spacing: -0.00625rem;
        }
      }
    }
    &-dropdown {
      margin: 1.25rem 0 1.2225rem 0.0625rem;
      .input {
        .label {
          &_right {
            margin-bottom: 0.0275rem;
            letter-spacing: -0.00625rem;
          }
        }
      }
      &_second {
        margin: 0 0 1.25rem 0;
      }
      &_third {
        margin-bottom: 9.965rem;
        .input {
          &__label {
            margin-bottom: 0.285rem;
          }
        }
      }
    }
    &-masked-text-field {
      margin-left: 0.0625rem;
      .input {
        .label {
          &_left {
            margin-top: 0.1875rem;
          }
          &_right {
            margin-bottom: 0.1875rem;
          }
        }
      }
    }
    &-date-dropdowns {
      margin: 2.5rem 0 2.535rem 0.0625rem;
      display: flex;
      justify-content: space-between;
    }
    &-filter-date-dropdown {
      margin: 2.535rem 0 2.5625rem 0.0625rem;
    }
    &-subscription-text-field {
      margin-bottom: 6.25rem;
      .input {
        .label {
          margin-left: 0.0625rem;
        }
        .input_arrow {
          width: 16.6875rem;
        }
      }
    }
    &-checkbox-list {
      margin: 2.5275rem 0 1.25rem 0.0625rem;
    }
    &_incert-emotion {
      margin: 2.5rem 0 2.5625rem 0;
    }
    &_location-city {
      .info-room__image {
        margin-right: 1rem;
      }
    }
  }
}
