include ../input/input
include ../execute-panel/execute-panel

mixin dropdowns_long (placeholder='', classInput='', classLabel='', leftLabel='', rightLabel='', showButtonClear='', classShowDropdown='', x = 0, y = 0, z = 0)
    .dropdowns_long
        +input(placeholder, classInput, classLabel, leftLabel, rightLabel)
        .dropdowns_long__container_execute(class= classShowDropdown)
            - let humans = [{people: 'Взрослые', number: x}, {people: 'Дети', number: y}, {people: 'Младенцы', number: z}]
                for el in humans
                    - let {people, number} = el
                        .dropdowns_long__wrapper_execute-panel
                            +execute-panel(people, number)
            .dropdowns_long__buttons
                if showButtonClear === 'block'
                    .dropdowns_long__clear Очистить
                .dropdowns_long__apply Применить