include ../../common/header/header
include ../../common/footer/footer
include ../../common/search-rooms/search-rooms
include ../../common/copyright/copyright

mixin landing (options)
    - const {header, footer, copyright} = options
    .landing
        .landing__content
            +header(header)
            .landing__image-wrapper
                .landing__search-rooms
                    +search-rooms  
                .landing__text-frame Лучшие номера для вашей работы, отдыха и просто вдохновения
        .landing__footer     
            +footer(footer)
            +copyright(copyright)
    