@import "../../../assets/utils/main";
body {
  @include body;
}
.landing {
  height: 83.9375rem;
  &__image-wrapper {
    height: 51.875rem;
    overflow: hidden;
    position: relative;
    background-image: url('/public/assets/img/rooms/main-picture.jpg');
  }
  &__search-rooms {
    margin: 4.375rem 0 0 9.72%;
    overflow: hidden;
  }
  &__text-frame {
    width: 18.5625rem;
    height: 3rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: right;
    color: $shade75;
    right: 8.375rem;
    top: 47.55rem;
    position: absolute;
  }
}
