@import "../../../assets/utils/main";
body {
  @include body;
}
.landing {
  min-height: 83.9375rem;
  min-width: 20rem;
  max-width: 100%;
  &__image-wrapper {
    min-height: 51.875rem;
    overflow: hidden;
    position: relative;
    background-image: url('../../../assets/img/rooms/main-picture.jpg');
    background-size: cover;
  }
  &__search-rooms {
    margin: 0 auto;
    margin-top: 4.375rem;
    width: 72.5rem;
    margin-bottom: 2rem;
  }
  &__text-frame {
    max-width: 18.5625rem;
    min-height: 3rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: right;
    color: $shade75;
    right: 9.3%;
    bottom: 1.3rem;
    position: absolute;
  }
}
@media (max-width: 78rem) {
  .landing {
    &__search-rooms {
      padding: 0 2rem;
    }
  }
}
@media (max-width: 27rem) {
  .landing {
    &__search-rooms {
      padding: 0 1rem;
    }
    &__image-wrapper {
      display: flex;
      justify-content: center;
    } 
  }
}

