@import "../../../assets/utils/main";

.landing {
  min-height: 100%;
  min-width: 20rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  &__content {
    flex-grow: 1;
  }
  &__wrapper {
    flex-grow: 0;
  }
  &__image-wrapper {
    min-height: 51.875rem;
    overflow: hidden;
    position: relative;
    background-image: url('../../../assets/img/rooms/main-picture.jpg');
    background-size: cover;
  }
  &__search-rooms {
    margin: 4.375rem auto 0;
    width: 72.5rem;
  }
  &__text-frame {
    max-width: 18.5625rem;
    min-height: 3rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: right;
    color: $shade75;
    right: 9.3%;
    bottom: 1.3rem;
    position: absolute;
  }
}
@media (max-width: 78rem) {
  .landing {
    &__search-rooms {
      padding: 0 3%;
    }
  }
}
@media (max-width: 26.5rem) {
  .landing {
    &__image-wrapper {
      display: flex;
      justify-content: center;
      min-height: 46rem;
    } 
    &__text-frame {
      display: none;
    }
  }
}


