.room-details {
  &__images {
    display: flex;
  }
  &__container_left {
    width: 61.3125rem;
    height: 30.3125rem;
    background: url('/public/assets/img/rooms/8888.jpg')
      bottom;
  }
  &__picture_top,
  &__picture_bottom {
    width: 28.8125rem;
    height: 15.1875rem;
    background: url('/public/assets/img/rooms/picture-top.jpg')
      right no-repeat;
    background-size: cover;
  }
  &__picture_bottom {
    background: url('/public/assets/img/rooms/picture-bottom.jpg')
      no-repeat;
  }
}
@media (max-width: 56.25rem) {
  .room-details {
    &__images {
      flex-wrap: wrap;
    }
    &__right-container {
      display: flex;
      width: 100%;
    }
  }
}
@media (max-width: 31.25rem) {
  .room-details {
    &__right-container {
      flex-direction: column;
    }
    &__picture-top,
    &__picture-bottom {
      width: 100%;
    }
  }
}
