mixin room-details__images
    .room-details__images
            .room-details__container_left
            .room-details__container_right
                .room-details__picture_top
                .room-details__picture_bottom