{
    "extends": "airbnb/base",
    "rules": {
        "no-underscore-dangle": "off",
        "no-new": "off",
        "no-undef": "off",
        "no-unused-vars": "off",
        "linebreak-style": "off",
        "class-methods-use-this": "off",
        "max-classes-per-file": "off"
    },
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true
    }
}