@import '../../../assets/utils/main';

.location-city {
    @include align-items;
    &__image {
        width: 48px;
        height: 48px;
        background: url(/assets/img/logotypes/location_city.svg) no-repeat center;
        margin-right: 10px;
    }
    &__title {
        @include inputTitle;
        text-transform: none;
        font-weight: bold;
        font-size: 14px;
    }
    &__text {
        @include textElements;
    }
    &__right {
        width: 233px;
        height: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}