@import "../../assets/utils/vars.scss";
@import "../../assets/utils/mixin.scss";

body {
    position: relative;
    max-width: 1440px;
    height: 1343px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

