include ../elements/buttons/long-btn/long-btn.pug
include ../elements/buttons/short-btn/short-btn.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        title Landing
    body
        include ../header/header.pug
        include ./main/main.pug
        include ../footer/footer.pug
        
        

        
        