@import "../../../assets/utils/main";

.slider {
  height: 2.9375rem;
  width: 16.625rem;
  @include title-inputs;
  &__inner {
    width: 16.625rem;
    height: 0.375rem;
    background: $white;
    border: 0.0625rem solid $shade25;
    border-radius: 0.1875rem;
    position: relative;
  }
  &__between {
    margin-left: 5.1875rem;
    width: 5.3125rem;
    height: 0.375rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $gradient-green;
  }
  &__btn_first,
  &__btn_second {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $gradient-green;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0.125rem solid $white;
  }
  &__range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4375rem;
  }
  &__size {
    color: $shade50;
    font-weight: normal;
    letter-spacing: 0.03125rem;
  }
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
