mixin slider(text)
    .slider.js-slider 
        .slider__range.js-slider__range
            .slider__title.js-slider__title= text 
            .slider__size.js-slider__size
        .slider__inner.js-slider__inner
            