- var arrayLi = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]

.bullet-list
    .bullet-list__title Bullet List
    ul 
        for i in arrayLi
            li= i

