mixin bullet-list(bulletList, title)
    .bullet-list
        if title
            .bullet-list__title=title
        ul.bullet-list__ul 
            for i in bulletList
                li.bullet-list__li= i

