mixin bullet-list(title)
    - let arrayLi = ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
    .bullet-list
        if title
            .bullet-list__title=title
        ul.bullet-list_ul 
            for i in arrayLi
                li.bullet-list_li= i

