@import '../../../assets/utils/_main.scss';

.form-elements {
    &__column-left {
        width: 320px;
        margin-left: 141px;
        background: lightgreen;   
    }
    &__container-text-field {
        margin: 143px 0 20.44px 0;
    }
    &__container-dropdown {
        margin: 20px 0 22.56px 0;
    }
    &__container-date-dropdowns {
        margin: 40px 0 40.56px 0;
        display: flex;
        justify-content: space-between;
    }
    &__container-filter-date-dropdown {
        margin: 40.56px 0 41px 0;
    }
    &__container-subscription-text-field {
        margin-bottom: 100px;
    }
    &__container-checkbox-list {
        margin: 40.44px 0 20px 0;
    }
    &__container-incert-emotion {
        margin: 40px 0 41px 0;
    }
}