include ../../../components/elements/input/input.pug
include ../../../components/elements/dropdowns/dropdown-little-block/dropdown-little-block.pug

.form-elements__column-left
                .form-elements__wrapper-inputs
                    +Input("text field", "default", "", "Email", "text-field")
                    +Input("text field", "hover / focus", "", "This is pretty awesome", "hover")
                    +Input("dropdown", "default", "", "Сколько гостей", "dropdowns")
                    +Input("masked text field", "default", "", "ДД.ММ.ГГГГ", "text-field")
                    .form-elements__date-dropdowns
                        .form-elements__dropdown-left
                            +Input("date dropdown", "", "", "ДД.ММ.ГГГГ","small")
                        .form-elements__dropdown-right
                            +Input("date dropdown", "", "", "19.08.2019","small")
                    +Input("filter date dropdown", "", "", "19 авг - 23 авг","little-expand")
                    +Input("subscription text field", "", "", "Email", "little-arrow")
                    +Input("dropdown", "default", 'little', "2 спальни, 2 кровати", "little-expand")
                +dropdown-little-block ( "dropdown", "default", "little", "2 спальни, 2 кровати", "little-expand without-border-radius", "спальни", "кровати", "ванные комнаты", "visibble") 