mixin radio(show)
    .radio
        if show
            .radio__title Radio Buttons
        .radio__buttons
            label(class="radio__buttons-container" for="input__man") Мужчина
                input(type="radio" checked name='gender' class="radio__input" id="input__man")
                span.radio__checkmark
            label(class="radio__buttons-container" for ="input__woman") Женщина    
                input(type="radio" name='gender' class="radio__input" id="input__woman")
                span.radio__checkmark