@import '../../../assets/utils/main';

.radio-buttons {
    &__title {
        @include inputTitle;
        margin-bottom: 16px;
    }
    &__radio {
        display: flex;
    }
    &__right, &__left {
        margin-right: 20px;
        @include align-items;
             input[type="radio"] {
                 margin: 0 10px 0 0;
                 background: purple;
                 width: 20px;
                 height: 20px;
             }
             
    }

}