.radio-buttons
    .radio-buttons__title Radio Buttons
    .radio-buttons__radio
        .radio-buttons__left
            input(type="radio" checked name='gender')
            label(for="man") Мужчины
        .radio-buttons__right
            input(type="radio" name='gender')
            label(for="woman") Женщины