mixin radio(show)
    .radio
        if show
            .radio__title Radio Buttons
        .radio__buttons
            label.radio__buttons-container Мужчина
                input(type="radio" checked name='gender' class="radio__input")
                span.radio__checkmark
            label.radio__buttons-container Женщина    
                input(type="radio" name='gender' class="radio__input")
                span.radio__checkmark