@import "../../../assets/utils/main";

.radio {
  &__title {
    @include title-inputs;
    margin-bottom: 0.9rem;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }
  &__buttons-container {
    display: block;
    position: relative;
    padding-left: 1.875rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $shade75;
    margin-right: 1.25rem;
    .radio__input:checked ~ .radio__checkmark:after {
      display: block;
      border: 0.0625rem solid $purple;
      box-sizing: border-box;
    }
  }
  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  &__checkmark {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
    background-color: $white;
    border-radius: 50%;
    border: 0.0625rem solid $shade25;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background: $blue;
      display: none;
    }
  }
}

@media (max-width: 22rem) {
  .radio {
    &__buttons {
      flex-wrap: wrap;
      &-container:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }
}