include ../toggle_one/toggle_one

mixin toggle (show)
    .toggle
        if show
            .toggle__title Toggle
        .toggle__buttons
            +toggle_one(true)
            +toggle_one(false)
        


    