.toggle-button
    .toggle-button__title Toggle
    .toggle-button_toggle
        .toggle-button__left
            input(type="checkbox" checked)
            label(for="offer") Получать спецпредложения
        .toggle-button__right
            input(type="checkbox")
            label(for="offer") Получать спецпредложения


    