include ../one-toggle/one-toggle

mixin toggle (show)
    .toggle
        if show
            .toggle__title Toggle
        .toggle__buttons
            +one-toggle(true)
            +one-toggle(false)
        


    