include ../toggle_one/toggle_one

mixin toggle (show)
    .toggle
        if show
            .toggle__title Toggle
        .toggle__buttons
            .toggle__buttons_top
                +toggle_one(true)
            .toggle__buttons_bottom
                +toggle_one(false)
        


    