include ../toggle-one/toggle-one

mixin toggle (show, id="toggle1", idSecond="toggle2")
    .toggle
        if show
            .toggle__title Toggle
        .toggle__buttons
            .toggle__button
                +toggle-one(true, id)
            .toggle__button
                +toggle-one(false, idSecond)
        


    