include ../toggle-one/toggle-one

mixin toggle (show)
    .toggle
        if show
            .toggle__title Toggle
        .toggle__buttons
            .toggle__button
                +toggle-one(true)
            .toggle__button
                +toggle-one(false)
        


    