include ../../../../components/elements/like-button/like/like.pug

.murad-sarafanov
    .murad-sarafanov__top
        .murad-sarafanov__img
        .murad-sarafanov__right
            .murad-sarafanov__name Мурад Сарафанов
            .murad-sarafanov__term 5 дней назад
    .murad-sarafanov__bottom
        +like(12)
        .murad-sarafanov__text
            p.
                Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.