include ../../elements/luxe/luxe
include ../../elements/comments-stars/comments-stars

mixin card-room(img, firstNumberPrice, price, stars, comments, clas)
    .card-room
        .card-room__image(style=`background: url(assets/img/rooms/${img}.jpg);`)
            if img === 888
                .card-room__image-side_left
                    .card-room__arrow.card-room__arrow_left
                .card-room__image-side_right
                    .card-room__arrow.card-room__arrow_right
            .card-room__group-balls
                .card-room__ball_full
                .card-room__ball_empty
                .card-room__ball_empty
                .card-room__ball_empty
        .card-room__luxe
            +luxe(img, firstNumberPrice, price, clas)
        .card-room__stars
            +comments-stars(stars,comments)
