@import '../../../assets/utils/main';

.card-room {
    width: 270px;
    height: 257px;
    box-shadow: 0px 10px 20px $shade05;
    background: $white;
        &__image {
            margin-bottom: 23px;
            width: 270px;
            height: 151.38px;
            border-radius: 4px 4px 0px 0px;
            position: relative;
        }
        &__group-balls {
            position: absolute;
            display: flex;
            left: 213.75px;
            top: 128.89px;
        }
        &__balls {
            box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
            width: 7.5px;
            height: 7.5px;
            border-radius: 50%;
            margin-right: 3.75px;
        }
        &__ball {
            background: $white;
        }
        &__ball_empty {
            border: 1px solid $white;
            box-sizing: border-box;
        }
        &__luxe {
            margin-bottom: 20px;
            .luxe__luxe {
                display: flex;
                align-items: flex-end;
                margin-left: 20px;
                    p:nth-child(2){
                        font-size: 18px;
                    }
            }
            .luxe__price {
                margin-right: 17px;
            }
        }
        &__stars {
            .stars {
                margin-left: 20px;
                
            }
            .comments-stars__comments {
                margin-right: 20px;
            }
        }
}