@import '../../../../assets/utils/_main.scss';

.reg-btn {
    height: 34px;
    border-radius: 22px;
    border: none;
    text-align: center;
    text-transform: uppercase; 
    background: $gradient;
    padding: 0 1.25rem;
    box-sizing: border-box;
        span {
            color: $white;
            font-weight: bold;
            font-size: 0.75rem;
            height: 0.9375rem;
        }
}
.reg-btn_rus {
    @extend .reg-btn;
    width: 12.25rem;
}