@import '../../../../assets/utils/_main.scss';

.reg-btn {
    height: 34px;
    border-radius: 22px;
    border: none;
    text-align: center;
    text-transform: uppercase; 
    background: $gradient;
    padding: 0 20px;
    box-sizing: border-box;
        span {
            color: $white;
            font-weight: bold;
            font-size: 12px;
            height: 15px;
            font-style: normal;
        }
}
.reg-btn_rus {
    @extend .reg-btn;
    width: 196px;
}