mixin navLink(link, name, last)
    li
      if(last)
        a(href=link).nav.last-link=name
      else
        a(href=link).nav-last=name

header  
    .header  
        ul.nav
            +navLink('#', "1")
            +navLink('#', "2")
            +navLink('#', "3")
            +navLink('#', "4")
            +navLink('#', "5")
            +navLink('#', "6")