@import '../../../../assets/utils/_main.scss';

.log-btn {
    height: 34px;
    border-radius: 22px;
    width: 79px;
    border: none;
    text-align: center;
    text-transform: uppercase; 
    background: white;
    border: 1px solid $blue;
        span {
            color: $purple;
            font-family:"Montserrat";
            font-weight: bold;
            font-size: 12px;
            height: 15px;
            font-style: normal;
        }
}
.log-btn_rus {
    @extend .log-btn;
    width: 87px;
}