@import '../../../assets/utils/main';

.comments-stars {
    @include space-between;
    &__comments {
        display: flex;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $shade50;
            p:first-child {
                font-weight: bold;
                margin-right: 0.125rem;
            }
    }

}