@import "../../../assets/utils/main";

.comments-stars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  &__comments {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    min-height: 1.125rem;
    color: $shade50;
    margin-bottom: 0.125rem;
    &-number {
      font-weight: bold;
      margin-right: 0.25rem;
    }
  }
}
