include ../stars/stars

mixin comments-stars (props)
    - const {stars, comments} = props
    .comments-stars 
        +stars(stars)
        .comments-stars__comments
            p.comments-stars__comments-number= comments
            p Отзывов
        