include ../stars/stars

mixin comments-stars (stars, comments)
    .comments-stars 
        +stars(stars)
        .comments-stars__comments
            p.comments-stars__comments-number= comments
            p Отзывов
        