include ../../../components/common/registration-account/registration-account.pug

.cards__left-column
    include ../../../components/common/search-rooms/search-rooms.pug
    .cards__container-registration
        +registration-account
