include ../../footer/footer
include ../../common/copyright/copyright
include ../../header/header
include ./search-room-filter_main/search-room-filter_main

mixin search-room-filter ({header, footer, copyright})
    - let {classHeader, titlesNavbar, log, register} = header
    .search-room-filter
        +header(classHeader, titlesNavbar, log, register)
        +search-room-filter_main
        +footer (footer)
        +copyright(copyright)

