@import '../../../assets/utils/main';

body {
    @include body
}
.search-room-filter {
    min-width: 20rem;
    &__content {
      display: flex;
      justify-content: center;
      padding: 1.875rem 2rem;
      border-bottom: 0.0625rem solid rgba(31, 32, 65, 0.25);
    }
    &__container {
      max-width: 72.5rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__wrapper-column {
      margin-right: 3.75rem;
    }
}

@media (max-width: 25rem) {
    .search-room-filter {
      &__wrapper-column {
        margin-right: 0;
      }
    }
  }
 
