@import '../../../assets/utils/main';

.search-room-filter {
    min-height: 100%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    &__content {
      flex-grow: 1;
    }
    &__wrapper {
      flex-grow: 0;
    }
    &__contents {
      display: flex;
      justify-content: center;
      padding: 1.875rem 2rem;
      border-bottom: 0.0625rem solid rgba(31, 32, 65, 0.25);
    }
    &__container {
      max-width: 72.5rem;
      display: flex;
      justify-content: center;
      
    }
    &__wrapper-column {
      margin-right: 3.75rem;
    }
}
@media (max-width: 60rem) {
  .search-room-filter {
    &__container {
     flex-direction: column;
    }
    &__wrapper-column {
      margin-right: 0;
    }
  }
}

@media (max-width: 42rem) {
  .search-room-filter {
    &__container {
     flex-wrap: wrap;
     justify-content: start;
    }
  }
}

@media (max-width: 25rem) {
    .search-room-filter {
      &__wrapper-column {
        margin-right: 0;
      }
    }
  }
 
