@import '../../../assets/utils/main';

body {
    @include body
}
.search-room-filter {
    min-width: 18.75rem;
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 1.875rem 9.72% 0 9.72%;
        box-sizing: border-box;
        border-bottom: 0.0625rem solid rgba(31, 32, 65, 0.25);
    }
    &__wrapper {
        &-column {
          margin-right: 3.75%;
        }
      }
}

@media (max-width: 78.125rem) {
    .search-room-filter__content {
        padding-left: 5%;
    }
  }
  @media (max-width: 39.375rem) {
    .search-room-filter__content {
        flex-wrap: wrap;
    }
  }
  