@import "../../../assets/utils/main";

.toggle-one {
  @include align-items;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $shade75;
  box-sizing: border-box;
  &__input {
    margin: 0 0.625rem 0 0;
    -webkit-appearance: none;
    width: 2.5rem;
    height: 1.25rem;
    position: relative;
    border: 0.0625rem solid $shade25;
    border-radius: 0.625rem;
    outline: none;
    cursor: pointer;
    &:checked[type="checkbox"] {
      border: 0.0625rem solid $purple;
      &:before {
        left: 1.4375rem;
        background: linear-gradient(180deg, $purple 0%, $blue 100%);
      }
    }
    &:before {
      position: absolute;
      content: "";
      background: $shade25;
      border-radius: 50%;
      left: 0.25rem;
      top: 0.1875rem;
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}

@media (max-width: 21.0625rem) {
  .toggle-one {
    font-size: 0.8rem;
  }
}