include ../checkbox-cell/checkbox-cell
include ../checkbox-label/checkbox-label

mixin checkbox-list (list)
    .checkbox-list
        for el in list
            .checkbox-list__input
                +checkbox-cell(el.checked)
                +checkbox-label(el.text)