mixin checkbox-list (list)
    .checkbox-list
        for el in list
            .checkbox-list__input
                input(type="checkbox" checked= el.checked)
                label(for="forText")= el.text