mixin checkbox-rich(text) 
    .checkbox-rich  
        .checkbox-rich__title= text
        .checkbox-rich__input
            input(type="checkbox" class="checkbox_input")
            .checkbox-rich__input-span Широкий коридор
        .checkbox-rich__text Ширина коридоров в номере не менее 91 см.
        .checkbox-rich__input
            input(type="checkbox" class="checkbox_input")
            .checkbox-rich__input-span Помошник для инвалидов
        .checkbox-rich__text.checkbox-rich__text_wide На 1 этаже вас встретит специалист и проводит до номера.