@import "../../../../assets/utils/main";

.form-elements {
  &__column_right {
    width: 20rem;
    &_container {
      &-range-slider {
        margin: 8.965rem 0 2.7225rem 0;
        height: 2.75rem;
      }
      &-buttons {
        margin: 2.7225rem 0 1.875rem 0;
      }
      &-pagination {
        margin: 2.5rem 0 14.75rem 0.0625rem;
      }
      &-bullet {
        margin-top: 16rem;
      }
      &-dropdown {
        .dropdowns_long {
          &__container_execute {
            padding-top: 0.3125rem;
          }
        }
      }
    }
  }
}
