include ../../../elements/buttons/button_long/button_long
include ../../../elements/dropdowns_long/dropdowns_long
include ../../../common/slider/slider
include ../../../elements/pagination/pagination.pug
include ./container-buttons/container-buttons.pug
include ../../../elements/bullet-list/bullet-list.pug

mixin form-elements__column_right
    .form-elements__column_right
        .form-elements__container-range-slider
            +slider('Range Slider')
        .form-elements__container-buttons
            +container-buttons
        .form-elements__container-long-button
            +button_long("Перейти к оплате")
        .form-elements__container-pagination
            +pagination('show')
        .form-elements__container-dropdown
            +dropdowns_long("Сколько гостей", "input_long input_border", 'long', "dropdown", "",  'block','' ,2, 1)
        .form-elements__container-bullet
            +bullet-list("bullet list")


    