include ../../../elements/buttons/long-btn/long-btn
include ../../../elements/long-dropdowns/long-dropdowns
include ../../../common/slider/slider
include ../../../elements/pagination/pagination.pug
include ./container-buttons/container-buttons.pug
include ../../../elements/bullet-list/bullet-list.pug

mixin form-elements__column_right
    .form-elements__column_right
        .form-elements__container-range-slider
            +slider('Range Slider')
        .form-elements__container-buttons
            +container-buttons
        .form-elements__container-long-button
            +long-btn("Перейти к оплате")
        .form-elements__container-pagination
            +pagination('show')
        .form-elements__container-dropdown
            +long-dropdowns( "dropdown", "", "", "Сколько гостей", "dropdowns-long without-border-radius", 'block')
        .form-elements__container-bullet
            .form-elements__bullet-title Bullet List
            +bullet-list


    