mixin like (a)
    if a=== 2
        .like.like_left
            img(class="like__image" src="/public/assets/img/icons/favorite_border.svg", alt="favorite_border")
            span= a
    else if a=== 12
        .like.like_right
            img(class="like__image" src="/public/assets/img/icons/favorite.svg", alt="favorite")
            span= a