@import "../../../assets/utils/main";

.like {
  min-width: 2.5rem;
  height: 1.25rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  font-size: 0.5625rem;
  line-height: 0.75rem;
  font-weight: normal;
  @include align-items;
  &__image {
    margin: 0 0.3rem 0 0.3125rem;
  }
  &_left {
    border: 0.0625rem solid $shade25;
    color: $shade25;
  }
  &_right {
    border: 0.0625rem solid $purple;
    color: $purple;
  }
}
