mixin like (a)
    .like
        if a=== 2
            .like_left
                img(src="https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/favorite_border.svg", alt="favorite_border")
                span= a
        else if a=== 12
            .like_right
                img(src="https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/favorite.svg", alt="favorite")
                span= a