@import '../../../assets/utils/main';

.like-button {
    .like-button__title {
        @include inputTitle;
        margin-bottom: 16px;
    }
    &__like {
        display: flex;   
    }
    &__left, &__right {
        width: 39.72px;
        height: 20px;
        border-radius: 10px;
        font-size: 10px;
        line-height: 12px;
        font-weight: normal;
        @include align-items;
            img {
                margin: 0 7px 0 5px;
            }
    }
    &__left {
        border: 1px solid $shade25;
        color: $shade25;
        margin-right: 10px;
    }
    &__right {
        border: 1px solid $purple;
        color: $purple;
    }

}