.like-button 
    .like-button__title like button
    .like-button__like
        .like-button__left
            img(src="assets/img/icons/favorite_border.svg", alt="favorite_border")
            span 2
        .like-button__right
            img(src="assets/img/icons/favorite.svg", alt="favorite")
            span 12