include ../button__login/button__login
include ../button__register/button__register

mixin buttons__login-register(log, register)
    .buttons__login-register
        .buttons__login-register_login
            +button__login(log)
        .buttons__login-register_register
            +button__register(register)
