@import "../../assets/utils/vars.scss";
@import "../../assets/utils/mixin.scss";

.landing {
    height: 1343px;
        &__image-wrapper {
            background: url(https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/rooms/main-picture.jpg);
            height: 830px;
            overflow: hidden;
        }
        &__search-rooms {
            margin: 70px 0 0 9.2%;
            overflow: hidden;
         
        }
}

