mixin body (titleName)
    <!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            script(src="assets/plugins/jquery/jquery-3.4.1.min.js")
            link(rel="stylesheet", href="assets/plugins/air-datepicker/css/datepicker.min.css", type="text/css")
            script(src="assets/plugins/air-datepicker/js/datepicker.min.js")
            title=titleName
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap")
        body