@import "../../../assets/utils/main";

.toggle_one {
  @include align-items;
  margin: 0.625rem 0 0 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $shade75;
  input[type="checkbox"] {
    margin: 0 0.625rem 0 0;
    -webkit-appearance: none;
    width: 2.5rem;
    height: 1.25rem;
    position: relative;
    border: 0.0625rem solid $shade25;
    border-radius: 0.625rem;
    outline: none;
    &:checked[type="checkbox"] {
      border: 0.0625rem solid $purple;
      &:before {
        left: 1.25rem;
        background: linear-gradient(180deg, $purple 0%, $blue 100%);
      }
    }
    &:before {
      position: absolute;
      content: "";
      background: $shade25;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 0.625rem;
      left: 0.25rem;
      top: 0.125rem;
      border: 0.0625rem solid $shade25;
    }
  }
}
