include ../../elements/input/input.pug
include ../../elements/buttons/button_long/button_long
include ../../elements/buttons/button_short/button_short

mixin login
    .login
        .login__title Войти
        .login__fields
            +input("Email", "text-field")
            +input("Пароль", "text-field")
        .login__button
            +button_long("Войти")
        .login__toxin
            .login__text Нет аккаунта на Toxin?
            +button_short("Создать", "white")