include ../../elements/input/input.pug
include ../../elements/buttons/long-btn/long-btn
include ../../elements/buttons/short-btn/short-btn

mixin login
    .login
        .login__title Войти
        .login__fields
            +input("Email", "text-field")
            +input("Пароль", "text-field")
        .login__button
            +long-btn("Войти")
        .login__toxin
            .login__text Нет аккаунта на Toxin?
            +srt-btn("Создать", "white")