@import '../../../assets/utils/main';

.login {
    min-height: 22.375rem;
    background: $white;
    @include cards;
        &__fields {
            margin: 1.25rem 0;
                .input:first-child {
                    input {
                        margin-bottom: 0.625rem;
                    }    
                }
        }
        &__button {
            margin-bottom: 1.875rem;
        }
        @include toxin;
}

@media (max-width: 30rem) {
    .login {
        width: 90%;
        &__fields {
            width: 100%;
        }
        &__toxin {
            justify-content: center;
        }
        &__text {
            margin-bottom: 1rem;
        }
    }
}