include ../../elements/input/input.pug
include ../../elements/buttons/button/button
include ../../elements/buttons/button-login/button-login

mixin login
    .login
        .login__title Войти
        .login__fields
            +input({placeholder: "Email"})
            +input({placeholder: "Пароль"})
        .login__button
            +button({text: "Войти"})
        .login__toxin
            .login__text Нет аккаунта на Toxin?
            +button-login("Создать", "fat")