include ../../elements/input/input.pug
include ../../elements/buttons/button/button
include ../../elements/buttons/button/button

mixin login
    .login
        .login__title Войти
        .login__fields
            +input("Email")
            +input("Пароль")
        .login__button
            +button("Войти")
        .login__toxin
            .login__text Нет аккаунта на Toxin?
            +button("Создать", "white")