@import '../../../assets/utils/main';

.login {
    height: 358px;
    background: $white;
    @include cards;
        &__fields {
            margin: 20px 0;
                input:first-child {
                    margin-bottom: 10px;
                }
        }
        &__button {
            margin-bottom: 30px;
        }
        @include toxin;
}