@import '../../../assets/utils/main';

.search-room-filter {
    &_left {
        width: 266px;
        margin-right: 3.75%;
    }
    &_left-container-LongDropdown {
        margin: 20.44px 0 30.44px;
    }
    &_left-container-rich-checkbox {
        margin: 30.88px 0 30.44px;
    }
    &_left-container-expanded-checkbox {
        margin-top: 15.5px;
    }
    &_left-container-slider {
        margin-bottom: 30px;
    }
    &_left-slider-text {
        margin-top: 10.56px;
        font-size: 12px;
        line-height: 14px;
        color: $shade50;
    }
}
@media (max-width: 1300px) {
    .search-room-filter {
        &__left {
            margin-right: 2%;
        }
    }
}
@media (max-width: 630px) {
    .search-room-filter {
        &__left {
            margin: 0 auto;
        }
    }
}