@import "../../../assets/utils/main";

body {
  @include body;
}
.form-elements {
  height: 115.8125rem;
  display: flex;
  flex-wrap: wrap;
  padding-left: 8.4185%;
  min-width: 20rem;
  &__logo-wrapper {
    position: absolute;
    left: 1.875rem;
    top: 1.875rem;
  }
  &__column {
    &:nth-child(2) {
      margin-right: 7.875rem;
    }
    &:nth-child(3) {
      margin-right: 4.5rem;
    }
    &:nth-child(4) {
      margin-right: 8.8125rem;
    }
  }
}

@media (max-width: 30rem) {
  .form-elements {
    justify-content: center;
    padding-left: 0;
    &__column {
      width: 90%;
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        margin-right: 0;
      }
    }
  }
}