@import "../../../../assets/utils/main";

.room-details-description {
    padding: 4.375rem 9.70873% 4.5625rem 9.639389%;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $shade75;
    box-shadow: 0 0.0625rem 0 rgba(31, 32, 65, 0.1);
    flex-wrap: wrap;
  &__data {
    width: 18.4375rem;
    margin-right: 4.3124rem;
  }
  &__circle-diagram {
    margin-right: 4.5rem;
  }
  &__title {
    font-weight: bold;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: $shade100;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    letter-spacing: 0.04375rem;
  }
  &__title-rules {
    margin: 0 0 1.1rem 1.24125rem;
  }
  &__rules {
    margin-top: 2rem;
    &-title {
      font-family: "Quicksand", Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 1.1875rem;
      line-height: 1.5rem;
      color: $black;
      margin-left: 1.30375rem;
      margin-bottom: 1rem;
      letter-spacing: 0.05625rem;
    }
  }
  &__reviews {
    width: 44.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
    padding-top: 0.1875rem;
  }
  &__review:nth-child(2) {
    font-size: 0.875rem;
    line-height: 0.875rem;
    color: $shade25;
  }
  &__room-information {
    margin-left: 0.0625rem;
  }
  &__wrapper-info-room {
    &:first-child {
      margin: 1.25rem 0 2.5625rem;
    }
    &:nth-child(2) {
      .info-room__image {
        margin-right: 1.2rem;
      }
    }
    &:last-child {
      margin: 2.5625rem 0 1.875rem;
      .info-room__image {
        margin-right: 1.2rem;
      }
    }
  }
  &__room-impressions {
    margin-bottom: 29.625rem;
  }
  &__diagram {
    display: flex;
    align-items: flex-end;
  }
  &__wrapper-circles {
    width: 7.5rem;
    height: 7.5625rem;
    margin: 1.3125rem 2.8125rem 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__circle-title {
    align-items: center;
    flex-direction: column;
    display: flex;
    color: $purple;
    font-weight: bold;
    margin-top: 2.1875rem;
    &-number {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
    &-word {
      font-size: 0.9375rem;
      line-height: 0.9375rem;
    }
  }
  &__circle-template {
    width: 7.5rem;
    height: 7.5625rem;
    border-style: solid;
    border-radius: 50%;
    border-width: 0.1875rem;
    box-sizing: border-box;
    position: absolute;
    &_first {
      border-color: $purple transparent transparent transparent;
      border-width: 0.625rem;
      transform: rotate(45deg);
    }
    &_second {
      border-color: transparent $green transparent transparent;
      transform: rotate(45deg);
    }
    &_third {
      border-color: transparent transparent #ffba9c transparent;
      transform: rotate(45deg);
    }
    &_fourth {
      border-color: transparent transparent transparent #ffe39c;
      transform: rotate(45deg);
    }
  }
  
  &__list {
    margin-right: 2.1875rem;
  }
  &__ul {
    list-style-type: none;
  }
  &__li {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $shade75;
    font-weight: normal;
    letter-spacing: -0.003125rem;
    position: relative;
    &:before {
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      left: -0.9375rem;
      top: 50%;
      transform: translateY(-50%);
      width: 0.625rem;
      height: 0.625rem;
      background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
    }
    &:nth-child(2):before {
      background: $green;
    }
    &:nth-child(3):before {
      background: $purple;
    }
    &:nth-child(4):before {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    }
  }
  &__room-escape {
    &-paragraph {
      color: $shade75;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-top: 1rem;
      width: 21.3125rem;
      height: 6rem;
    }
  }
  &__wrapper-consumer-comments {
    margin: 0 0 1.3rem 0;
    &_second {
      margin: 0 0 2rem 0.0625rem;
    }
  }
}
@media (max-width: 93.75rem) {
  .room-details-description {
    flex-wrap: wrap;
    &__reservation {
      margin-top: 2rem;
    }
  }
}
@media (max-width: 59rem) {
  .room-details-description {
    &__room-impressions,
    &__room-escape,
    &__rules {
      margin: 1.25rem 0;
    }
    &__room-impressions {
      margin-bottom: 2rem;
    }
    &__reviews {
      width: 100%;
    }
  }
}
