@import "../../../../assets/utils/main";

.search-room-filter-images {
  &__title {
    color: $shade100;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-bottom: 1.28125rem;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    letter-spacing: 0.04375rem;
    max-width: 52.125rem;
  }
  &__rooms-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  &__card-room {
    margin: 0 0.75rem 1.32rem 0;
    &:nth-child(10), &:nth-child(11), &:nth-child(12) {
      margin-bottom: 0;
    }
    &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12) {
      margin-right: 0;
    }
  }
  &__pagination {
    margin: 2.625rem 0 4.65rem 18.0625rem;
  }
  .short-dropdown {
    width: 16.625rem;
  }
}
@media (max-width: 75.0625rem) {
  .search-room-filter-images {
    &__rooms-wrapper {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    &__pagination {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}
@media (max-width: 60rem) {
  .search-room-filter-images {
    &__rooms-wrapper {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (max-width: 55rem) {
  .search-room-filter-images {
    &__rooms-wrapper {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 38rem) {
  .search-room-filter-images {
    &__rooms-wrapper {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
  }
}
