@import "../../../assets/utils/main";

.registration {
  min-height: 100%;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  &__content {
    flex-grow: 1;
  }
  &__wrapper {
    flex-grow: 0;
  }
  &__image-wrapper {
    min-height: 43.875rem;
    background: url('../../../assets/img/rooms/registration.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 1.875rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
  }
  .footer {
    &_inner {
      padding: 6.1rem 9.72% 6.21rem !important;
      ul:last-child {
        li:first-child {
          margin-bottom: 1.0625rem;
        }
        li:nth-child(2) {
          margin-bottom: 1.4rem;
        }
      }
    }
  }
}


@media(max-width: 60rem) {
  .registration {
    &__image-wrapper {
      justify-content: center;
      padding-left: 0;
    }
  }
}