@import "../../../assets/utils/main";
body {
  @include body;
}

.registration {
  height: 75.6875rem;
  &__image-wrapper {
    height: 43.875rem;
    background: url(https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/rooms/registration.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 1.875rem;
    box-sizing: border-box;
  }
  .footer {
    &_inner {
      padding: 6.1rem 9.72% 6.21rem !important;
      ul:last-child {
        li:first-child {
          margin-bottom: 1.0625rem;
        }
        li:nth-child(2) {
          margin-bottom: 1.4rem;
        }
      }
    }
  }
}
