@import "../../../assets/utils/main";

.registration {
  min-height: 100%;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  &__content {
    flex-grow: 1;
  }
  &__wrapper {
    flex-grow: 0;
  }
  &__image-wrapper {
    min-height: 43.875rem;
    background: url('../../../assets/img/rooms/registration.jpg');
    background-size: cover;
    display: flex;
    box-sizing: border-box;
    padding-top: 1.875rem;
    justify-content: center;
    padding-bottom: 1.625rem;
  }
  &__container-registration {
    margin: 0 0.5rem;
  }
}

@media(max-width: 60rem) {
  .registration {
    &__image-wrapper {
      justify-content: center;
      padding-left: 0;
    }
  }
}