include ../../common/footer/footer
include ../../common/copyright/copyright
include ../../common/header/header
include ../../common/registration-account/registration-account 

mixin registration (options)
    - const {header, footer, copyright} = options
    - let {classHeader, titlesNavbar, log, register} = header
    .registration
        +header (classHeader, titlesNavbar, log, register)
        .registration__image-wrapper
            +registration-account       
        +footer (footer)
        +copyright(copyright)

