include ../../common/footer/footer
include ../../common/copyright/copyright
include ../../common/header/header
include ../../common/registration-account/registration-account 

mixin registration(options)
    - const {header, footer, copyright} = options
    .registration
        +header(header)
        .registration__image-wrapper
            +registration-account       
        +footer(footer)
        +copyright(copyright)

