include ../../footer/footer
include ../../common/copyright/copyright
include ../../header/header
include ../../common/registration-account/registration-account 

mixin registration ({header, footer, copyright})
    - let {classHeader, titlesNavbar, log, register} = header
    .registration
        +header (classHeader, titlesNavbar, log, register)
        .registration__image-wrapper
            +registration-account       
        +footer (footer)
        +copyright(copyright)

