include ../../common/footer/footer
include ../../common/copyright/copyright
include ../../common/header/header
include ../../common/registration-account/registration-account 

mixin registration(options)
    - const {header, footer, copyright} = options
    .registration
        .registration__content
            +header(header)
            .registration__image-wrapper
                .registration__container-registration
                    +registration-account
        .registration__wrapper       
            +footer(footer)
            +copyright(copyright)

