@import "../../../assets/utils/main";

.checkbox-buttons {
  &__title {
    @include title-inputs;
    margin-bottom: 1rem;
  }
  &__text {
    margin-left: 1.875rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: $shade50;
    min-height: 1.75rem;
    margin-bottom: 0.58rem;
    width: 12.875rem;
  }
  &__text_wide {
    width: 14.375rem;
  }
  &__input-description {
    display: flex;
    align-items: center;
    margin-bottom: 0.3125rem;
    flex-wrap: wrap;
  }
  &__label {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: $shade75;
  }
}
