include ../../elements/logo-wrapper/logo-wrapper.pug
include ./cards__column_left/cards__column_left.pug
include ./cards__column_center/cards__column_center.pug
include ./cards__column_right/cards__column_right.pug 

mixin cards
    .cards
        .cards__logo-wrapper
            +logo-wrapper
        .cards__wrapper_left
            +cards__column_left
        .cards__wrapper_center
            +cards__column_center
        .cards__wrapper_right
            +cards__column_right

