include ../../elements/logo-wrapper/logo-wrapper.pug
include ../../common/registration-account/registration-account.pug
include ../../common/search-rooms/search-rooms.pug
include ../../common/reservation/reservation.pug
include ../../common/login/login.pug
include ../../common/card-room/card-room.pug
include ../../elements/calendar/calendar


mixin cards(options)
    - const {datepickerHere, cardRoomFirst, cardRoomSecond} = options
    .cards
        .cards__logo-wrapper
            +logo-wrapper
        .cards__wrapper
            .cards__search-rooms
                +search-rooms
            .cards__registration
                +registration-account
        .cards__wrapper
            +reservation
            .cards__login
                +login
        .cards__wrapper
            +calendar
            .cards__middleware-card
                +card-room(cardRoomFirst)
            +card-room(cardRoomSecond) 

