@import "../../../assets/utils/main";
body {
  @include body;
}
.cards {
  padding: 9.375rem 1rem;
  min-width: 20rem;
  display: flex;
  justify-content: center;
  &__logo-wrapper {
    position: absolute;
    left: 1.875rem;
    top: 1.875rem;
  }
  &__content {
    max-width: 72.5rem;
    display: flex;
    flex-wrap: wrap;
  }
  &__wrapper {
      width: 23.75rem;
      &:nth-child(1) {
        margin-right: 2.5rem;
      }
      &:nth-child(2) {
        margin-right: 2.5rem;
      }
      &:nth-child(3) {
        width: $long;
      }
  }
  &__registration {
    margin-top: 2.5rem;
  }
  &__login {
    margin-top: 2.5rem;
  }
  &__middleware-card {
    margin: 5.9rem 0 2.46875rem 0;
  }
}

@media (max-width: 89.9375rem) {
  .cards {
    &__wrapper {
      &:nth-child(3) {
        margin-top: 2.5rem;
      }
    }
  }
}
@media (max-width: 65.1875rem) {
  .cards {
    &__wrapper {
      &:nth-child(2) {
        margin-top: 2.5rem;
      }
    }
  }
}
@media (max-width: 30rem) {
  .cards {
   
    &__wrapper {
      width: 100%;
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        margin-right: 0;
      }
    }
  }
}