include ../../elements/logo-wrapper/logo-wrapper
include ../../common/registration-account/registration-account
include ../../common/search-rooms/search-rooms
include ../../common/reservation/reservation
include ../../common/login/login
include ../../common/card-room/card-room
include ../../elements/calendar/calendar

mixin cards(options)
    - const {cardRoomFirst, cardRoomSecond} = options
    .cards
        .cards__logo-wrapper
            +logo-wrapper
        .cards__content 
            .cards__wrapper
                .cards__search-rooms
                    +search-rooms
                .cards__registration
                    +registration-account
            .cards__wrapper
                +reservation
                .cards__login
                    +login
            .cards__wrapper
                +calendar
                .cards__middleware-card
                    +card-room(cardRoomFirst)
                +card-room(cardRoomSecond) 

