mixin execute-panel(title, result)
    .execute-panel
        .execute-panel__title=title
        .execute-panel__increment-decrement
            .execute-panel__decrement -
            .execute-panel__result=result
            .execute-panel__increment +

