mixin execute-panel(props)
    - const {title, result} = props
    .execute-panel
        .execute-panel__title=title
        .execute-panel__increment-decrement
            .execute-panel__decrement -
            .execute-panel__result=result
            .execute-panel__increment +

