@import "../../../assets/utils/main";

.execute-panel {
  @include space-between;
  flex-wrap: wrap;
  &__title {
    padding-bottom: 0.125rem;
    padding-right: 0.5rem;
  }
  &__increment-decrement {
    min-width: 5.75rem;
    @include space-between;
  }
  &__increment,
  &__decrement {
    min-width: 1.875rem;
    min-height: 1.875rem;
    border-radius: 1.375rem;
    border: 0.0625rem solid $shade25;
    @include flex-center;
    font-size: 1.125rem;
    line-height: 1.375rem;
    box-sizing: border-box;
    color: $shade25;
  }
  &__result {
    padding: 0 0.5rem;
  }
}
