@import "../../../../assets/utils/_main.scss";

.button {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    height: 2.75rem;
    border-radius: 1.375rem;
    box-sizing: border-box;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    
    &_short {
        background: $gradient;
        width: 6.1875rem;
        &_purple {
            &:hover {
                opacity: 0.5;
            }
        }
        &_shade-purple {
        opacity: 0.5;
        }
        &_white {
        color: $purple;
        border: 0.125rem solid transparent;
        background-origin: border-box;
        background-image: $gradient;
        box-shadow: 0.0625rem 6.25rem 0.0625rem #fff inset;
            &:hover {
                border: 0.0625rem solid rgba($purple, 0.5);
            }
        }
        &_shade-white {
        color: $purple;
        border: 0.125rem solid transparent;
        background-origin: border-box;
        background-image: $gradient;
        box-shadow: 0.0625rem 6.25rem 0.0625rem #fff inset;
        border: 0.0625rem solid rgba($purple, 0.5);
        }
    }
    &_long {
        width: 20rem;
        background: url('/public/assets/img/icons/arrow_forward_white.svg') no-repeat 18rem, $gradient;
        &:hover {
        background: $gradient;
        color: $white;
        opacity: 0.5;
        }
        }
    &__text {
        color: $white;
        font-weight: bold;
        font-size: 0.75rem;
        height: 0.9375rem;
        letter-spacing: 0.0625rem;
        padding: 0 1rem;
        }
}

@media (max-width: 30rem) {
    .button {
        &_long {
            width: 100%;
        }
    }
}