mixin luxe (props)
    - let {img, firstNumberPrice, price, clas, fontSize} = props
    .luxe
        .luxe__room-number
            span.luxe__room-number-text №
            span.luxe__room-number-text(style={'font-size': `${fontSize}rem`})= img
            span.luxe__room-number-text(class=clas) люкс
        .luxe__price
            span.luxe__price-text= firstNumberPrice
            span.luxe__price-text= price 
            span.luxe__price-text &#8381 
            span.luxe__price-text в сутки