mixin luxe (number, price, clas, fontSize)
    .luxe
        .luxe__luxe
            span №
            span(style={'font-size': `${fontSize}px`})= number
            span(class=clas) люкс
        .luxe__price
            span= price 
            span &#8381 в сутки