mixin luxe (number, price, clas)
    .luxe
        .luxe__luxe
            span №
            span= number
            span(class=clas) люкс
        .luxe__price
            span= price 
            span &#8381 в сутки