mixin social
    .social
        for el in ['twitter', 'facebook', 'instagram'] 
            img(class="social__image" src="https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/logotypes/" + el + ".svg", alt="twitter")