mixin social
    .social
        for el in ['twitter', 'facebook', 'instagram']
            a(href = '/' class= "social__a") 
                img(class="social__image" src="assets/img/logotypes/" + el + ".svg", alt="twitter")