@import "../../../assets/utils/main.scss";

.header {
  background: $white;
  box-shadow: 0 0.625rem 1.25rem $shade05;
  padding: 0.9375rem 15.12327%;
  flex-wrap: wrap;
  @include space-between;
  &__span {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: $shade50;
    white-space: nowrap;
  }
  &__burger {
    position: absolute;
    right: 8.75rem;
    top: 0;
    display: none;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__a {
    height: 2.5rem;
  }
  &_eng,
  &_eng-second {
    .header__navbar {
      margin-right: 2rem;
    }
      .navbar {
        .navbar__li {
          margin-right: 1.75rem;
          &:first-child {
            font-weight: bold;
            color: $shade75;
          }
          &:nth-child(3) {
            margin-right: 1.25rem;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
  }
  &_eng-second {
    .header__navbar {
      margin-right: 4rem;
    }
  }
}

@media (max-width: 89.99rem) {
  .header,
  .header_eng,
  .header_eng-second {
    .header__container {
      .header_li {
        font-size: 0.8125rem;
      }
    }
  }
  .header {
    &_eng,
    &_eng-second {
      .header__navbar {
        margin-right: 0;
      }
      .navbar {
        .navbar__li {
          margin-right: 1.75rem;
          &:nth-child(3) {
            margin-right: 1.75rem;
          }
          &:last-child {
            margin-right: 1.75rem;
          }
        }
      }
    }
  }
}
@media (max-width: 81.3125rem) {
  .header,
  .header_eng,
  .header_eng-second {
    .header__burger {
      display: block;
      position: static;
    }
    .header__container {
      flex-direction: column;
      width: 100%;
      border: 0.125rem solid $purple;
      padding: 1rem;
      border-radius: 1rem;
      &_hide {
        display: none;
      }
    }
    .header__bottom {
      margin-bottom: 0.8rem;
    }
    .header__navbar {
      width: 100%;
    }
    .header__third-element {
      width: 100%;
    }
  }
}

