include ../../elements/buttons/buttons__login-register/buttons__login-register
include ../navbar/navbar

mixin header (classHeader, titlesNavbar, log, register)
    div(class=`header ${classHeader}`)
        div(class=`${classHeader}__image`)
            img(src='https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/logotypes/logo.svg', alt='logo')
        div(class=`${classHeader}__navbar`)
            +navbar(titlesNavbar)
        div(class=`${classHeader}__third-element`)
            if classHeader === 'header' || classHeader === 'header_eng'   
                +buttons__login-register(log, register)
            else
                span.header__span Cosmin Negoita