include ../../elements/buttons/buttons-login-register/buttons-login-register
include ../navbar/navbar

mixin header (classHeader, titlesNavbar, log, register)
    div(class=`header ${classHeader}`)
        .header__image
            img(src='/public/assets/img/logotypes/logo.svg', alt='logo')
        .header__navbar
            +navbar(titlesNavbar)
        .header__third-element
            if classHeader === 'header_eng_second' 
                span.header__span Cosmin Negoita  
            else
                +buttons-login-register(log, register)
                