@import "../../../assets/utils/main.scss";

.header {
  min-height: 4.375rem;
  background: $white;
  box-shadow: 0 0.625rem 1.25rem $shade05;
  padding: 0 9.72%;
  @include space-between;
  &__image {
    height: 2.5rem;
  }
  &__third-element {
    button:last-child {
      margin-left: 1.25rem;
    }
  }
  span {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: $shade50;
    white-space: nowrap;
  }
  &__navbar {
    margin-left: 24.6%;
  }
}
.header_eng,
.header_eng_second {
  &__navbar {
    margin-left: 25.63%;
    .navbar {
      ul {
        li {
          margin-right: 1.75rem;
          &:first-child {
            font-weight: bold;
            color: $shade75;
          }
          li:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.header_eng_second {
  &__navbar {
    margin: 0 0 0 27%;
  }
}
@media (max-width: 78.125rem) {
  .header,
  .header_eng,
  .header_eng_second {
    padding: 0 3%;
    &__navbar {
      margin-left: 2%;
      .navbar ul li {
        font-size: 0.8125rem;
      }
    }
  }
}
@media (max-width: 56.25rem) {
  .header,
  .header_eng,
  .header_eng_second {
    flex-wrap: wrap;
    height: 8.75rem;
    &__navbar {
      .navbar ul li {
        font-size: 0.9375rem;
      }
    }
  }
}
@media (max-width: 31.25rem) {
  .header,
  .header_eng,
  .header_eng_second {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: auto;
    margin: 0.625rem;
    &__navbar {
      .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        margin: 0.625rem;
      }
    }
  }
}
