include ../../elements/buttons/log-reg/log-reg
include ../navbar/navbar

mixin header (classHeader, titlesNavbar, log, register)
    div(class=classHeader)
        div(class=`${classHeader}__image`)
            img(src='https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/logotypes/logo.svg', alt='logo')
        div(class=`${classHeader}__navbar`)
            +navbar(titlesNavbar)
        div(class=`${classHeader}__third-element`)
            if classHeader === 'header' || classHeader === 'header_eng'   
                +log-reg(log, register)
            else
                span Cosmin Negoita