include ../../../common/card-room/card-room.pug
include ../../../common/datepicker-here/datepicker-here


mixin cards__column_right
    .cards__column_right
        +datepicker-here('placeholder', 'new', true)
        .cards__middleware-card
            +card-room(888, 9, 990, 5, 145)
        +card-room(840, 9, 990, 4, 65, "luxe_not-show")