.stars {
    display: flex;
    &__image {
        background: url(https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/star.svg) no-repeat center;
        width: 24px;
        height: 24px;
    }
    &__image2 {
        background: url(https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/star_border.svg) no-repeat center;
        width: 24px;
        height: 24px;
    }
}