@import "../../../../assets/utils/_main.scss";

.form-elements-checkbox-radio {
    max-width: 20rem;
      &__checkbox {
        margin-top: 8.9rem;
      }
      &__radio {
        margin: 2.7rem 0;
      }
      &__like {
        margin-top: 2.7775rem;
      }
      &__rate {
        margin: 2.5rem 0 12.4rem 0;
      }
      &__rich {
        margin: 6.2rem 0 0 0;
      }
      &__murad {
        margin-top: 14.45rem;
        .consumer-comments {
          letter-spacing: 0;
        }
      }
}


@media (max-width: 30rem) {
  .form-elements-checkbox-radio {
    &__checkbox {
      margin-top: 2rem;
    }
    &__rate {
      margin-bottom: 2rem;
    }
    &__rich {
      margin-top: 2rem;
    }
    &__murad {
      margin-top: 3rem;
    }
  }
    
}