mixin button__login (log)
    if log === 'войти'
        button.button__login(class='button__login_rus')
            span.button__login_text=log 
    else
        button.button__login
            span.button__login_text=log 

  
        