@import "../../../../assets/utils/_main.scss";

.button__login {
  height: 2.125rem;
  border-radius: 1.375rem;
  width: 4.9375rem;
  text-align: center;
  text-transform: uppercase;
  background: white;
  border: 0.125rem solid $blue;
  &:hover {
    color: $purple;
    border: 0.0625rem solid transparent;
    background-origin: border-box;
    background-image: $gradient;
    box-shadow: 0.0625rem 6.25rem 0.0625rem #fff inset;
    border-opacity: 0.5;
  }
  &_text {
    color: $purple;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 0.75rem;
    height: 0.9375rem;
    font-style: normal;
  }
}
.button__login_rus {
  width: 5.4375rem;
}
