@import '../../../assets/utils/main';

.form-elements {
    &__column_right {
        width: 20rem;
        margin-right: 8.8125rem;  
    }
    &__container-range-slider {
        margin: 8.965rem 0 2.7225rem 0;
        height: 2.75rem;
    }
    &__container-buttons {
        margin: 2.7225rem 0 1.875rem 0;
    }
    &__container-pagination {
        margin: 2.5rem 0 14.6875rem 0;
    }
    &__container-bullet {
        margin-top: 16.09rem;
    }
    &__bullet-title {
        @include inputTitle
    }
}