@import '../../../assets/utils/main';

.form-elements {
    &__column_right {
        width: 320px;
        margin-right: 141px;  
    }
    &__container-range-slider {
        margin: 143.44px 0 43.56px 0;
        height:44px;
    }
    &__container-buttons {
        margin: 43.56px 0 30px 0;
    }
    &__container-pagination {
        margin: 40px 0 235px 0;
    }
    &__container-bullet {
        margin-top: 257.44px;
    }
    &__bullet-title {
        @include inputTitle
    }
}