include ../input/input
include ../execute-panel/execute-panel

mixin long-dropdowns (leftLabel, rightLabel, classLabel, placeholder, classInput, showButtonClear, classShowDropdown)
    .long-dropdowns
        +input(placeholder, classInput, leftLabel, rightLabel, classLabel)
        .short-dropdown(class= classShowDropdown)
            .short-dropdown__row
                div Взрослые
                +execute-panel(0)
            .short-dropdown__row
                div Дети
                +execute-panel(0)
            .short-dropdown__row
                div Младенцы
                +execute-panel(0)
            .short-dropdown__buttons
                if showButtonClear === 'block'
                    .short-dropdown__clear Очистить
                .short-dropdown__apply Применить