@import '../../../assets/utils/_main.scss';

@mixin short-dropdown {
        .short-dropdown {
                position: absolute;
                box-sizing: border-box;
                border: 1px solid $shade50;
                border-top: transparent;
                width: 266px;
                height: 119px;
                padding: 7px 7px 8px 15px;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                background: $white;
                color: $shade100;
                text-transform: uppercase;
                font-family: Montserrat;
                        &__row {
                                @include space-between;
                                margin-bottom: 7px;
                        }
        }
        .will-hide {
                padding-bottom: 15px;
                opacity: 0;
                z-index: -1;
        }  
}


.short-dropdowns {
        @include short-dropdown;
}

.long-dropdowns {
        @include short-dropdown;
        .short-dropdown {
                width: 320px;
                height: 159px;
                padding-bottom: 13px;
                &__buttons {
                        margin-top: 19px;
                }
                &__apply {
                        color: $purple;
                        text-align: right;
                        float: right;
                }
                &__clear {
                        color: $shade50;
                        float: left;
                }
        }    
}