include ../input-text/input-text
include ./execute-panel/execute-panel

mixin shortDropdown (leftLabel, rightLabel, classLabel, placeholder, classInput, classShowDropdown)
    .short-dropdowns
        +Input(leftLabel, rightLabel, classLabel, placeholder, classInput)
        .short-dropdown(class= classShowDropdown)
            .short-dropdown__row
                div Спальни
                +execute-panel(2)
            .short-dropdown__row
                div Кровати
                +execute-panel(2)
            .short-dropdown__row
                div Ванные комнаты
                +execute-panel(0)

mixin longDropdown (leftLabel, rightLabel, classLabel, placeholder, classInput, showButtonClear, classShowDropdown)
    .long-dropdowns
        +Input(leftLabel, rightLabel, classLabel, placeholder, classInput)
        .short-dropdown(class= classShowDropdown)
            .short-dropdown__row
                div Взрослые
                +execute-panel(0)
            .short-dropdown__row
                div Дети
                +execute-panel(0)
            .short-dropdown__row
                div Младенцы
                +execute-panel(0)
            .short-dropdown__buttons
                if showButtonClear === 'block'
                    .short-dropdown__clear Очистить
                .short-dropdown__apply Применить
                


        
            