include ../../../components/elements/input-text/input-text.pug

.registration-accaunt
    .registration-accaunt__title Регистрация аккаунта
    .regitstration-accaunt__two-fields
        +Input("", "", "", "Имя", "text-field")
        +Input("", "", "", "Фамилия", "text-field")