include ../log-btn/log-btn
include ../reg-btn/reg-btn

mixin LogReg(log, reg)
    .log-reg
        +logBtn(log)
        +regBtn(reg)

mixin LogRegRus(log, reg)
    .log-reg
        +logBtnRus(log)
        +regBtnRus(reg)
