include ../../../../components/elements/buttons/short-btn/short-btn.pug

mixin container-buttons
    .container-buttons
        .container-buttons__title Buttons
        .container-buttons__buttons
            +srt-btn("click me", "purple")
            +srt-btn("click me", "purple05")
            +srt-btn("click me", "white")
            +srt-btn("click me", "white05")
        .container-buttons__clickme
            span click me
            span click me
        