include ../../../../components/elements/buttons/short-btn/short-btn.pug

.container-buttons
    .container-buttons__title Buttons
    .container-buttons__buttons
        +srtBtn("click me", "purple")
        +srtBtn("click me", "purple05")
        +srtBtn("click me", "white")
        +srtBtn("click me", "white05")
    .container-buttons__clickme
        span click me
        span click me
        