@import '../../../assets/utils/main';

.search-room-filter {
    &__left {
        
    }
    &__container-shortdropdown {
        margin: 20.44px 0 132px;
    }
    &__container-rich-checkbox {
        margin: 30.88px 0 30.44px;
    }
    &__container-expanded-checkbox {
        margin-top: 30px;
    }
}