mixin info-room(props)
    - const {img, title, text} = props
    .info-room
        .info-room__image
            img(src=`/public/assets/img/logotypes/${img}.svg` alt='info-room' class='info-room__img')
        .info-room__title-text
            .info-room__title= title
            .info-room__text= text