mixin info-room(img, title, text)
    .info-room 
        .info-room__image(style=`background: url(/assets/img/logotypes/${img}.svg) no-repeat center`)
        .info-room__right
            .info-room__title= title
            .info-room__text= text