@import "../../../assets/utils/main";

.info-room {
  @include align-items;
  &__image {
    width: 3rem;
    height: 3rem;
    margin-right: 0.625rem;
  }
  &__title {
    @include title-inputs;
    text-transform: none;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  &__text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $shade50;
  }
}
