mixin checkbox_rich(text) 
    .checkbox_rich  
        .checkbox_rich__title= text
        .checkbox_rich__input
            input(type="checkbox")
            span Широкий коридор
        .checkbox_rich__text Ширина коридоров в номере не менее 91 см.
        .checkbox_rich__input
            input(type="checkbox")
            span Помошник для инвалидов
        .checkbox_rich__text.checkbox_rich__text_wide На 1 этаже вас встретит специалист и проводит до номера.