@import '../../../assets/utils/main';


.search-rooms {
    height: 374px;
    @include cards;
    width: 380px;
    box-sizing: border-box;
    background: $white;
        &__guests {
            margin: 20px 0 31px 0;
        }
        &__incoming {
            display: flex;
                .input-text{
                    input[type='text'] {
                        margin-right: 20px;
                        width: 150px;
                        &::placeholder {
                            color: $shade75;  
                        }
                    background: url('https://vodkamishka.github.io/hotel-webpack-pug-scss/src/assets/img/icons/expand.svg') no-repeat 120px,
                    $white
                    }
                }
                
        }
    
}