@import "../../../assets/utils/main";

.search-rooms {
  min-height: 23.375rem;
  @include cards;
  max-width: 23.75rem;
  background: $white;
  border: none;
  box-sizing: border-box;
  &__guests {
    margin: 1.25rem 0 1.9375rem 0;
  }
}

@media (max-width: 30rem) {
  .search-rooms {
    width: 100%;
  }
}