include ../../elements/buttons/button_long/button_long
include ../../elements/input-calendar/input-calendar
include ../../elements/dropdowns_long/dropdowns_long

mixin search-rooms
    .search-rooms
        .search-rooms__title Найдем номера под ваши пожелания
        .search-rooms__incoming
            +input-calendar('ДД.ММ.ГГГГ','small','Прибытие', 'ДД.ММ.ГГГГ','input_small','Выезд', 'start', 'end')
        .search-rooms__guests
            +dropdowns_long('Сколько гостей', 'input_long', 'long', 'гости', '', 'block', 'dropdowns_long_hide')
        +button_long('Подобрать номер')