include ../../elements/buttons/button/button
include ../../elements/input-calendar/input-calendar
include ../../elements/dropdowns-guest-selection/dropdowns-guest-selection

mixin search-rooms
    .search-rooms
        .search-rooms__title Найдем номера под ваши пожелания
        .search-rooms__incoming
            +input-calendar('ДД.ММ.ГГГГ','small','Прибытие', 'ДД.ММ.ГГГГ','small','Выезд', 'start', 'end', false)
        .search-rooms__guests
            +dropdowns-guest-selection('Сколько гостей', 'input_long', 'long', 'гости', '', 'block', 'dropdowns-guest-selection_hide')
        +button('Подобрать номер')