@import "../../../assets/utils/main";

.search-rooms {
  @include cards;
  max-width: 23.75rem;
  background: $white;
  border: none;
  box-sizing: border-box;
  &__guests {
    margin: 1.25rem 0 2rem 0;
  }
}

@media (max-width: 33.75rem) {
  .search-rooms {
    width: 100%;
  }
}
