include ../../elements/buttons/button/button
include ../../elements/double-date-calendar/double-date-calendar
include ../../elements/dropdowns-guest-selection/dropdowns-guest-selection

mixin search-rooms
    .search-rooms
        .search-rooms__title Найдем номера под ваши пожелания
        .search-rooms__incoming
            +double-date-calendar
        .search-rooms__guests
            +dropdowns-guest-selection({placeholder: 'Сколько гостей', className: 'long', leftLabel: 'гости', rightLabel: '', showButtonClear: 'block',  classShowDropdown: 'dropdowns-guest-selection_hide'})
        +button({text: 'Подобрать номер'})