include ../label/label

mixin input (placeholder, classInput, classLabel, leftLabel, rightLabel)
    .input
        if leftLabel
            +label(classLabel, leftLabel, rightLabel)
        input(type="text" placeholder=placeholder class=`input_${classInput}`)

   
