include ./checkbox-list/checkbox-list.pug

mixin expandable-checkbox (list, display, title)
    .expandable-checkbox    
        .expandable-checkbox__mainline
            .expandable-checkbox__title= title
            if display === 'none'
                .expandable-checkbox__image
            else
                .expandable-checkbox__image-expandable    
        .expandable-checkbox__list(style=`display: ${display}`)
            +checkList(list)

           

    