include ../checkbox-list/checkbox-list.pug

mixin checkbox_expandable (list, title, clas = '')
    .checkbox_expandable    
        .checkbox_expandable__mainline
            .checkbox_expandable__title= title
            if (!clas)
                .checkbox_expandable__image.checkbox_expandable__image_expand
            else
                .checkbox_expandable__image     
        .checkbox_expandable__list(class= clas)
            +checkbox-list(list)

           

    