mixin execute-panel(first, second, third)
    .execute-panel
        if (first !== "")
            .execute-panel__circle-increment= first
        else
            .execute-panel__circle-increment.hide
        .execute-panel__result= second
        .execute-panel__circle-decrement= third

