@import '../../../../assets/utils/main';

.execute-panel {
    width: 92px;
    @include space-between;
        &__circle-increment, &__circle-decrement {
            width: 30px;
            height: 30px;
            border-radius: 22px;
            border: 1px solid $shade25;
            @include flex-center;
            font-size: 18px;
            line-height: 22px;
            box-sizing: border-box;
        }
        &__circle-increment.hide {
            opacity: 0;
        }
}