include ../../components/body/body
include ../../components/footer/footer.pug
include ../../components/common/copyright/copyright.pug
include ../../components/header/header.pug
include ../../components/elements/logo-wrapper/logo-wrapper.pug
include ../../components/elements/social/social.pug 

mixin headers-footers
    .headers-footers
        +logo-wrapper
        .headers-footers__section
            +header('header-eng')
        .headers-footers__section2
            +header('header-eng2')
        .headers-footers__section3
            +footer('footer-eng')
        .headers-footers__section4
            +copyright('copyright-eng')
        .headers-footers__section5
            .headers-footers__inner
                .headers-footers__image
                    div
                        img(src="https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/logotypes/logo.svg", alt="logotypes")
                .headers-footers__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                .headers-footers__social 
                    +social                        

+body("Headers and footers")
+headers-footers