@import "../../../assets/utils/main";

.consumer-comments {
  letter-spacing: 0.064375rem;
  &__image-wrapper {
    @include align-items;
    margin-bottom: 0.75rem;
  }
  &__name-term {
    height: 3rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  &__img {
    width: 2.979375rem;
    height: 3rem;
    box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.1);
    border-radius: 2rem;
    margin-right: 0.620625rem;
    background-position: -1.25rem -0.625rem;
    background-image: url('/public/assets/img/photo/man.jpg');
    &_girl {
      background-image: url('/public/assets/img/photo/girl.jpg');
    }
  }
  &__name {
    font-weight: bold;
    color: $shade75;
  }
  &__term {
    font-weight: normal;
  }
  &__likes {
    display: flex;
    width: 45.206875rem;
    margin-bottom: 0.1875rem;
    .like {
      margin-left: 0.1875rem;
    }
  }
  &__text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $shade75;
    width: 40.8125rem;
    margin-left: 0.894375rem;
    font-weight: 400;
    position: relative;
    &_review {
      position: absolute;
      top: -0.125rem;
    }
  }
}
@media (max-width: 50rem) {
  .consumer-comments {
    &__text {
      width: 18.75rem;
      margin-right: 22.0625rem;
    }
  }
}
