@import "./vars.scss";

@mixin align-items {
    display: flex;
    align-items: center;
}

@mixin justify-content {
    display: flex;
    justify-content: center;
}

@mixin Montserrat($size) {
    font-size: $size;
    color: $shade50;
}

@mixin inputTitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $shade100;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin textElements {
    font-size: 14px;
    line-height: 24px;
    color: $shade75;
}

@mixin input-checkbox {
    .check-list {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
            input[type='checkbox'] {
                width: 20px;
                height: 20px;
                border: 1px solid $shade25;
                border-radius: 4px;
                margin: 0 9.7px 0 0;
                outline: none;
                -webkit-appearance: none;
                background: $white;
            }
            input[type='checkbox']:checked {
                border: 1px solid $purple;
                margin: 0 10px 0 0;
                background: url(https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/vector.svg) no-repeat center center, $white;
            }
            label {
                font-size: 14px;
                line-height: 18px;
                color: $shade50;
                width: 192px;
            }
    }
}

@mixin cards {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 40px 30px 30px 30px;
    box-sizing: border-box;
        &__title {
            font-family: 'Montserrat', Arial, sans-serif;;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            color: $shade100;
            margin-bottom: 20px;
        }
}

@mixin toxin {
    &__toxin {
        @include align-items;
        justify-content: space-between;
    }
    &__text {
        font-size: 14px;
        line-height: 18px;
        color: $black;
        font-family: 'Montserrat', Arial, sans-serif;;
    }
}

@mixin short-dropdown {
    .short-dropdown {
            position: absolute;
            box-sizing: border-box;
            border: 1px solid $shade50;
            border-top: transparent;
            width: 266px;
            height: 119px;
            padding: 7px 7px 8px 15px;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            background: $white;
            color: $shade100;
            text-transform: uppercase;
            font-family: Montserrat;
            z-index: 10000;
                    &__row {
                            @include space-between;
                            margin-bottom: 7px;
                    }
    }
    .will-hide {
            padding-bottom: 15px;
            opacity: 0;
            z-index: -1;
    }  
}

@mixin input-text {
    input[type="text"] {
        box-sizing: border-box;
        width: 320px;
        height: 44px;
        border: 1px solid rgba($shade25, 0.25);
        border-radius: 4px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 18px;
            &::placeholder {
                color: $shade50;
            }
            &:hover {
                border: 1px solid rgba($shade50, 0.5);
                    &::placeholder {
                    color: $shade75;
            }
        }
        &.hover {
            border: 1px solid rgba($shade50, 0.5);
            color: $shade25;
            &::placeholder {
                color: $shade75;
            }
        }
        &.dropdowns {
            background: url('https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/expand.svg') no-repeat 290px,
            $white;
            color: $shade75;
        }
        &.dropdowns-long {
            background: url('https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/expand.svg') no-repeat 290px,
            $white;
            color: $shade75;
        }
        &.small {
            width: 150px;
                &::placeholder {
                    color: $shade75;  
                }
            background: url('https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/expand.svg') no-repeat 120px,
            $white
        }
        &.little-expand {
            width: 266px;
            &::placeholder {
                color: $shade75;  
            }
            background: url('https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/expand.svg') no-repeat 240px,
            $white
        }
        &.little-arrow {
            width: 266px;
            &::placeholder {
                color: $shade25;  
            }
            background: url('https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/arrow_forward.svg') no-repeat 235px,
            $white
        }
        &.without-border-radius {
            border-radius: 4px 4px 0 0;
        }
    }
}