@import "./vars.scss";

@mixin align-items {
    display: flex;
    align-items: center;
}
@mixin justify-content {
    display: flex;
    justify-content: center;
}
@mixin Montserrat($size) {
    font-size: $size;
    color: $shade50;
}


