// colors

$black: #000000;
$shade100: #1f2041;
$shade75: rgba(#1f2041, .75);
$shade50: rgba(#1f2041, .5);
$shade25: rgba(#1f2041, .25);
$shade05: rgba(#1f2041, .05);
$purple: #bc9cff;
$green: #6fcf97;
$aqua: #66D2EA;
$white: #ffffff;
$blue: #8BA4F9;
$gradient: linear-gradient(180deg, $purple 0%, $blue 100%);
$gradient-green: linear-gradient(180deg, $green 0%, $aqua 100%);

//fonts

@font-face {
     font-family: 'Montserrat';
          src: url('/assets/fonts/montserrat/montserrat.ttf') , 
          url('/assets/fonts/montserrat/montserrat.woff') ,
          url('/assets/fonts/montserrat/montserrat.svg');
 }

@font-face {    
    font-family: "Quicksand";
         src: url('/assets/fonts/quicksand/quicksand.woff'), 
         url('/assets/fonts/quicksand/quicksand.ttf'),
         url('/assets/fonts/quicksand/quicksand.svg');
}

//width for text-inputs and labels

$small: 150px;
$little: 266px;
$long: 320px;

