@import "../../../assets/utils/main";


.datepicker {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: $shade50;
    box-sizing: border-box;
    border: none;
    width: 100%;
    &--content {
        width: 87.786%;
        margin: 0 1.24625rem 1.2rem 1.30875rem;
        padding: 0;
    }
    &--days, &--days-names, &--cells-days {
        width: 100%;
    }
    &--cell {
        &.-selected-.-focus-, &.-selected-, &.-selected-.-other-month-, &.-selected-.-other-month-.-focus-, &.-other-month-.-focus- {
            border: none;
            background: $gradient;
            color: $white;
        }
        &-day {
            border-radius: 50%;
            box-sizing: border-box;
            padding-top: 7.15%;
            padding-bottom: 7.15%;
            width: 14.2857%;
            color: $shade50;
            &:hover {
                background: $gradient; 
                color: $white;
            }
            &.-current-, &.-current-.-selected-.-range-from-, &.-current-.-selected-, &.-current-.-range-from-.-focus- {
                color: $white;
                background: $gradient-green;
                border-radius: 50%;
                &:hover {
                    color: $white;
                    background: $gradient-green;
                }
                &:after, &:before {
                    background: none;
                }
            }
            &.-in-range-, &.-in-range-.-other-month- {
                background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
                border: none;
                color: rgba(31,32,65,.5);
                &:hover {
                background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); 
                }
            }
            &.-range-to-, &.-range-from-, &.-range-to-.-other-month-, &.-range-from-.-other-month- {
                border: none;
                background-color: $gradient;
                border-radius: 50%;
                color: $white;
            }
            &.-range-from-:not(.-disabled-)::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                width: 50%;
                height: 100%;
                background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
            }
            &.-range-to-:not(.-disabled-)::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 50%;
                height: 100%;
                background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
            }
            &.-disabled-, &.-disabled-.-other-month- {
                background: none;
            }
            &.-disabled-.-other-month- {
                color: rgba(31, 32, 65, 0.25);
            }
        }
        &-month {
            width: 25%;
            &.-disabled- {
                color: lightgray;
                &:hover {
                    color: #d3d3d3;
                    background: none;
                }
            }
            &.-selected-.-range-to-.-range-from- {
                background: transparent;
                color: rgba(31,32,65,.5);
            }
            
        }
    }

    &--cell-month.-current-,
    &--cell-month.-current-.-selected-.-focus-.-range-to-.-range-from-,
    &--cell-month.-current-.-selected-.-range-to-.-range-from-,
    &--cell.-selected-.-current-
    {
        color: orange;
        background: transparent;
        &:hover {
            color: gray;
        }
    }

    &--days-names {
        height: 2.5rem;
        margin: 0;
    }
    &--day-name {
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        width: 12.54%;
        color: $purple;
    }
    &--nav {
        min-height: 1.5rem;
        margin: 1.25rem 0 1.875rem 0;
        border-bottom: none;
        padding: 0;
        display: flex;
        padding: 0 1.1875rem 0 1.2625rem;
    }
    &--nav-action {
        width: 1.495625rem;
    }
    &--nav-action {
        border-radius: 0;
    }
    &--nav-action path {
        stroke-width: 0;
    }
    &--nav-action:first-child {
        background: url('/public/assets/img/icons/arrow_back_purple.svg')
            no-repeat center center;
    }
    &--nav-action:last-child {
        background: url('/public/assets/img/icons/arrow_forward_purple.svg')
            no-repeat center center;
    }
    &--nav-action svg {
        width: 1.495625rem;
        height: 1.5rem;
    }
    &--nav-title {
        font-weight: bold;
        font-size: 1.1875rem;
        line-height: 1.5rem;
        font-family: "Quicksand", Arial, Helvetica, sans-serif;
        text-align: center;
        color: $shade100;
        min-width: 40%;
    }
    &--nav-title i {
        color: $shade100;
    }
    
}
