@import "../../../assets/utils/main";

.checkbox {
  &__title {
    @include title-inputs;
    margin-bottom: 1.034375rem;
  }
  &__input {
    @include checkbox__input;
    &:first-child {
      margin-bottom: 0.66rem;
    }
    &:nth-child(2) {
      margin-bottom: 0.625rem;
    }
    &:last-child {
      align-items: flex-start;
      label {
        padding-top: 0.125rem;
      }
    }
  }
}
