- var array = [{checked: false, text: "Можно курить"},{checked: true, text: "Можно с питомцaми"},{checked: true, text: "Можно пригласть гостей (до 10 человек)"}]

.checkbox-buttons
    .checkbox-buttons__title checkbox buttons
    for el in array
        .checkbox-buttons__row
            input(type="checkbox", checked= el.checked)
            label(for="text")= el.text
    