include ../checkbox-cell/checkbox-cell
include ../checkbox-label/checkbox-label

mixin checkbox(checkboxList)
    .checkbox
        .checkbox__title checkbox buttons
        for el in checkboxList
            .checkbox__input
                +checkbox-cell(el.checked)
                +checkbox-label(el.text)
            
    