@import '../../../assets/utils/main';

.checkbox-buttons {
    
        &__title {
            @include inputTitle;
            margin-bottom: 16.56px; 
        }
        &__row {
            @include align-items;
            margin-top: 10.56px;
                label {
                    margin-left: 9.74px;
                    width: 192px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: $shade50;
                }
                
            input[type="checkbox"] {
                margin: 0;
                width:20px;
            }
        }
        
}