mixin checkbox
    - let checkboxList = [{checked: false, text: 'Можно курить'},{checked: true, text: 'Можно с питомцaми'},{checked: true, text: 'Можно пригласить гостей (до 10 человек)'}]
    .checkbox
        .checkbox__title checkbox buttons
        for el in checkboxList
            .checkbox__input
                input(type='checkbox', checked= el.checked)
                label(for='text')= el.text
            
    