@import '../../../assets/utils/main';

.checkbox-buttons {
    
        &__title {
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: $shade100;
            margin-bottom: 16.56px; 
        }
        &__row {
            display: flex;
            align-items: center;
            margin-top: 10.56px;
                label {
                    margin-left: 9.74px;
                    width: 192px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: $shade50;
                }
                
            input {
                margin: 0;
                width:20px;
            }
        }
        
}