mixin checkbox
    - let array = [{checked: false, text: 'Можно курить'},{checked: true, text: 'Можно с питомцaми'},{checked: true, text: 'Можно пригласть гостей (до 10 человек)'}]
    .checkbox
        .checkbox__title checkbox buttons
        for el in array
            .check-list
                input(type='checkbox', checked= el.checked)
                label(for='text')= el.text
            
    