@import "../../assets/utils/vars.scss";
@import "../../assets/utils/mixin.scss";

.header {
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #1f20410d;
    @include align;
        &__image {
            margin-left: calc(140*100%/1440);
        }
        &__navbar {
            margin-left: calc(285.31*100%/1440);
            width: 446px;
            border: 1px solid black;
            ul {
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                li {
                    list-style-type: none;
                    @include Montserrat(0.875rem);
                        img {
                            padding-left: 12px;
                        }
                }
            }
        }
        &__button-srt {
           margin-left: calc(20*100%/1440);
                .srtBtn {
                    width: 87px;
                    height: 34px;
                }
        }
        &__button-long {
            margin-left: calc(20*100%/1440);
                .longBtn {
                    width: 196px;
                    height: 34px;
                }
         }
}