@import "../../assets/utils/main.scss";

.extends-header {
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px$shade05;
    border: 1px solid black;
    padding: 0 140px;
    @include space-between;
        &__image {
            height: 40px;
        } 
        &__third-element {
            button:last-child {
                margin-left: 20px;
            }
        } 
}

.header-eng {
    @extend .extends-header;
        &__navbar {
            margin-left: 25.63%;
        }
        li {
            margin-right: 30px;
                &:first-child {
                    font-weight: bold;
                    color: $shade75;
                    }
            }    
}
.header-eng2 {
    @extend .extends-header;
        &__navbar {
            margin-left: 30.11%;
        }
        li {
            margin-right: 30px;
                &:first-child {
                    font-weight: bold;
                    color: $shade75;
                    }
            }  
        span {
            font-size: 14px;
            line-height: 17px;
            color: $shade50;
        }  
}
