include ../elements/buttons/log-reg/log-reg
include ./navbar/navbar

- var list = [{item: 'Home'},{item: 'About us'},{item: 'Services', image: true},{item: 'Careers'},{item:'News'},{item:'Documentation'}]

.header-eng
    .header-eng__image
        img(src="assets/img/logotypes/logo.svg", alt="logo")
    .header-eng__navbar
        +navbar(list)    
    .header-eng__third-element
        +LogReg("login","register")