@import "../../assets/utils/vars.scss";
@import "../../assets/utils/mixin.scss";

.header {
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #1f20410d;
    @include align-items;
        &__image {
            margin-left: 140px;
            height: 40px;
        }
        &__navbar {
            margin-left: 285.31px;
            ul {
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                
                li {
                    list-style-type: none;
                    @include Montserrat(0.875rem);
                    margin-right: 20px;
                        img {
                            padding-left: 6px;
                        }
                    &:nth-child(2) {
                        width: 74px;
                    }
                    &:nth-child(5) {
                        width:116px;
                    }
                }
            }
        }
        
}