include ../elements/buttons/log-reg/log-reg
include ./navbar/navbar

- var list = [{item: 'О нас'},{item: 'Услуги',image: true},{item: 'Вакансии'},{item: 'Новости'},{item:'Соглашения', image: true}]

header  
    .header
        .header__image
            img(src="https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/logotypes/logo.svg", alt="logo")
        .header__navbar
            +navbar(list)    
        .header__third-element
            +LogRegRus("войти","зарегистрироваться")