include ../elements/buttons/log-reg/log-reg
include ./navbar/navbar

- var list = [{item: 'Home'},{item: 'About us'},{item: 'Services', image: true},{item: 'Careers'},{item:'News'},{item:'Documentation'}]

.header-eng2
    .header-eng2__image
        img(src="https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/logotypes/logo.svg", alt="logo")
    .header-eng2__navbar
        +navbar(list)    
    .header-eng2__third-element
        span Cosmin Negoita