include ../search-room-filter_right/search-room-filter_right
include ../search-room-filter_left/search-room-filter_left

mixin search-room-filter_main 
    .search-room-filter_main
        +search-room-filter_left
        +search-room-filter_right
        
