include ../label/label.pug

mixin Input (leftLabel, rightLabel, classLabel, placeholder, classInput)
    +label(left, right, classLabel)
    input(type="text" placeholder=placeholder class=classInput)