@import '../../../assets/utils/main';

.input-text {
    input[type="text"] {
        box-sizing: border-box;
        width: 320px;
        height: 44px;
        border: 1px solid rgba($shade25, 0.25);
        border-radius: 4px;
        padding-left: 15px;
        font-size: 14px;
        line-height: 18px;
            &::placeholder {
                color: $shade50;
            }
            &:hover {
                border: 1px solid rgba($shade50, 0.5);
                    &::placeholder {
                    color: $shade75;
                    }
            }
            &.hover {
                border: 1px solid rgba($shade50, 0.5);
                color: $shade25;
                &::placeholder {
                    color: $shade75;
                }
            }
            &.dropdowns {
                background: url('/assets/img/icons/expand.svg') no-repeat 290px,
                $white;
                color: $shade75;
            }
            &.dropdowns-long {
                background: url('/assets/img/icons/expand.svg') no-repeat 290px,
                $white;
                color: $shade75;
            }
            &.small {
                width: 150px;
                    &::placeholder {
                        color: $shade75;  
                    }
                background: url('/assets/img/icons/expand.svg') no-repeat 120px,
                $white
            }
            &.little-expand {
                width: 266px;
                &::placeholder {
                    color: $shade75;  
                }
                background: url('/assets/img/icons/expand.svg') no-repeat 240px,
                $white
            }
            &.little-arrow {
                width: 266px;
                &::placeholder {
                    color: $shade25;  
                }
                background: url('/assets/img/icons/arrow_forward.svg') no-repeat 235px,
                $white
            }
            &.without-border-radius {
                border-radius: 4px 4px 0 0;
                border: 1px solid rgba($shade50, 0.5);
            }

    }

}


