include ../label/label.pug

mixin Input (leftLabel, rightLabel, classLabel, placeholder, classInput)
    .input-text
        +label(leftLabel, rightLabel, classLabel)
        input(type="text" placeholder=placeholder class=classInput)