include ../../../elements/buttons/button/button
include ../../../elements/dropdowns-guest-selection/dropdowns-guest-selection
include ../../../common/slider/slider
include ../../../elements/pagination/pagination.pug
include ../../../elements/bullet-list/bullet-list.pug

mixin form-elements-slider-buttons(bulletList)
    .form-elements-slider-buttons
        .form-elements-slider-buttons__range-slider
            +slider('Range Slider')
        .form-elements-slider-buttons__buttons
            .form-elements-slider-buttons__buttons-title Buttons
            .form-elements-slider-buttons__buttons-group
                - const propButtons = ['purple', 'shade-purple', 'white', 'shade-white']
                for className in propButtons
                    +button({text : "click me", className})
            .form-elements-slider-buttons__buttons-clickmes
                span.form-elements-slider-buttons__buttons-clickme click me
                span.form-elements-slider-buttons__buttons-clickme click me
        .form-elements-slider-buttons__button
            +button({text: "Перейти к оплате"})
        .form-elements-slider-buttons__pagination
            +pagination('show')
        .form-elements-slider-buttons__dropdown
            +dropdowns-guest-selection({placeholder:"Сколько гостей", classInput: "input_long input_border", classLabel: 'long', leftLabel: "dropdown", rightLabel:"", showButtonClear: 'block', classShowDropdown: '', x: 2, y: 1})                                                                                                  
        .form-elements-slider-buttons__bullet
            +bullet-list({bulletList, title: "bullet list"})


    