mixin room-details__images
    .room-details__images
            .room-details__left-container
            .room-details__right-container
                .room-details__picture-top
                .room-details__picture-bottom