include ../../../common/reservation/reservation.pug
include ../../../common/login/login.pug

mixin cards__column_center
    .cards__column_center
        +reservation
        .cards__login
            +login