@import "../../../assets/utils/main";

.label {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: uppercase;
  color: $shade100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__text {
    &:first-child {
      font-weight: bold;
    }
    &:nth-child(2) {
      color: $shade50;
    }
  }
  &__cursor-default {
    cursor: default;
  }
}

@media (max-width: 24rem) {
  .label {
    &_long {
      width: 100%;
    }
  }
}