@import "../../../assets/utils/main";

.label {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-transform: uppercase;
  color: $shade100;
  width: $long;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  &_little {
    width: $little;
  }
  &_small {
    width: $small;
  }
  &_long {
    width: $long;
  }
  &__text {
    &:first-child {
      font-weight: bold;
    }
    &:nth-child(2) {
      color: $shade50;
    }
  }
  
}
