@import '../../../../assets/utils/vars.scss';

input.sub-text-field {
    width: 260px;
    height: 44px;
    border: 1px solid $shade25;
    border-radius: 4px;
    padding-left: 15px;
        &::placeholder {
            color: $shade25;
        }
    background: url('/assets/img/icons/arrow_forward.svg') no-repeat  220px;
        &:hover {
            border: 1px solid $shade50;
        }
}