@import '../../assets/utils/main';

.registration {
    height: 75.6875rem;
        &__image-wrapper {
            height: 43.875rem;
            background: url(https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/rooms/registration.jpg);
            background-size: cover;
            display: flex;
            justify-content: center;
            padding-top: 1.875rem;
            box-sizing: border-box;  
        }
}