@import "../../../../assets/utils/main";

.search-room-filter {
  &_left {
    width: 16.625rem;
    &_container-input {
      margin-top: 0.0625rem;
    }
    &_container-dropdowns-long {
      margin: 1.2775rem 0 1.9025rem;
      .dropdowns-long_container-execute {
        width: $little;
      }
    }
    &_container-checkbox-rich {
      margin: 1.89rem 0 1.85rem;
    }
    &_container-expanded-checkbox {
      margin-top: 0.92rem;
      .checkbox-expandable__title {
        margin-right: 0.8125rem;
      }
    }
    &_container-slider {
      margin-bottom: 1.8rem;
    }
    &_slider-text {
      margin-top: 0.73rem;
      font-size: 0.75rem;
      line-height: 0.875rem;
      color: $shade50;
    }
  }
}
@media (max-width: 81.25rem) {
  .search-room-filter {
    &_left {
      margin-right: 2%;
    }
  }
}
@media (max-width: 39.375rem) {
  .search-room-filter {
    &_left {
      margin: 0 auto;
    }
  }
}
