include ../../../elements/input/input
include ../../../elements/dropdowns_long/dropdowns_long
include ../../../elements/dropdowns_short/dropdowns_short
include ../../../elements/checkbox_rich/checkbox_rich
include ../../../elements/checkbox_expandable/checkbox_expandable
include ../../../common/slider/slider
include ../../../elements/checkbox/checkbox

mixin search-room-filter_left
    - let list = [{text: 'Завтрак', checked: false},{text: 'Письменный стол', checked: true},{text: 'Стул для кормления', checked: true},{text: 'Кроватка', checked: true},{text: 'Телевизор', checked: false},{text: 'Шампунь', checked: false},{text: 'Телевизор', checked: false},{text: 'Шампунь', checked: false}]
    .search-room-filter_left
        +input('19 авг - 23 авг','input_little', 'little', 'даты пребывания в отеле')
        .search-room-filter_left__container_dropdowns_long
            +dropdowns_long('3 гостя, 1 младенец', 'input_little', 'little', 'гости', '',  'block', 'dropdowns_long_hide', 3, 0, 1)
        .search-room-filter_left__container-slider
            +slider('Диапазон цены')
            .search-room-filter_left__slider-text Стоимость за сутки пребывания в номере
        +checkbox
        .search-room-filter_left__container_checkbox_rich
            +checkbox_rich('доступность')
        +dropdowns_short('2 спальни,  2 кровати', 'input_little input_border', 'little', 'удобства номера', '',  'dropdowns_short_hide')
        .search-room-filter_left__container_expanded-checkbox 
            +checkbox_expandable(list, 'дополнительные удобства', 'checkbox_expandable_hide')   