@import "../../../../assets/utils/main";

.search-room-filter {
  &_left {
    width: 16.625rem;
    margin-right: 3.75%;
  }
  &_left__container_dropdowns_long {
    margin: 1.2775rem 0 1.9025rem;
    .dropdowns_long__container_execute {
      width: $little;
    }
  }
  &_left__container_checkbox_rich {
    margin: 1.93rem 0 1.9025rem;
  }
  &_left__container_expanded-checkbox {
    margin-top: 0.96875rem;
  }
  &_left__container-slider {
    margin-bottom: 1.875rem;
  }
  &_left__slider-text {
    margin-top: 0.66rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: $shade50;
  }
}
@media (max-width: 81.25rem) {
  .search-room-filter {
    &__left {
      margin-right: 2%;
    }
  }
}
@media (max-width: 39.375rem) {
  .search-room-filter {
    &__left {
      margin: 0 auto;
    }
  }
}
