@import '../../assets/utils/main';

.sign-in {
    height: 1211px;
        &__image-wrapper {
            height: 702px;
            background: url(https://vodkamishka.github.io/hotel-webpack-pug-scss/src/assets/img/rooms/registration.jpg) left bottom;
            @include flex-center;
        }
}