include ../../components/body/body
include ../../components/footer/footer
include ../../components/common/copyright/copyright
include ../../components/header/header
include ../../components/common/login/login 

mixin sign-in
    .sign-in
        +header('header')
        .sign-in__image-wrapper
            +login 
        +footer ('footer')
        +copyright('copyright')

+body("Sign in")
+sign-in
