include ../search-room-filter__right/search-room-filter__right
include ../search-room-filter__left/search-room-filter__left

mixin search-room-filter__main 
    .search-room-filter__main
        +search-room-filter__left
        +search-room-filter__right
        
