@import "../../../assets/utils/vars.scss";

.main {
    height: 830px;
    position: relative;
        &__image-wrapper {
            background: url(/assets/img/rooms/main-picture.jpg);
            height: 100%;
        }
        &__search-rooms {
            position: absolute;
            top: 70px;
            left: 140px;
        }
}