mixin navbar (list)
    .navbar
        ul.navbar__ul
            for el in list
                if el.image
                    li.navbar__li 
                        a(href = '/mock-address/change-me')= el.item
                        button.navbar__button
                            a(href = '/mock-address/change-me')
                                img(src='assets/img/icons/expand.svg')
                else 
                    li.navbar__li 
                        a(href = '/mock-address/change-me')= el.item

