mixin navbar (list)
    .navbar
        ul.navbar__ul
            for el in list
                if el.image
                    li.navbar__li 
                        a(href = '/')= el.item
                        .navbar__image
                else 
                    li.navbar__li 
                        a(href = '/')= el.item

