mixin navbar (list)
    .navbar
        ul.navbar__ul
            for el in list
                if el.image
                    li.navbar__li 
                        a(href = '/landing.html')= el.item
                        button.navbar__button
                            a(href = '/landing.html')
                                img(src='assets/img/icons/expand.svg')
                else 
                    li.navbar__li 
                        a(href = '/landing.html')= el.item

