include ../elements/input-text/input-text.pug

- var array = [['Navigation', 'About us', 'News', 'Support', 'Products'], ['About us', 'Who we are', 'Our team', 'Careers', 'Investors'], ['Support', 'Documentation', 'Community', 'Get in touch']]

.footer
    .inner-footer
        ul   
            img(src="assets/img/logotypes/logo.svg", alt="")
            p. 
                Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        for el in array
            ul
                for i in el
                    li
                        a(href="#")=i

        ul
            for i in ['Subscribe to our newsletter', 'Receive our latest news and promotions in your inbox!']
                li
                    a(href="#")=i
            +Input("", "", "", "Your email address", "little-arrow") 
                    
   
        