@import '../../assets/utils/mixin.scss';
@import '../../assets/utils/vars.scss';

.footer {
        .footer__nav {
            @include justify-content;
            height: 372px;
            .footer__nav-inside {
                height: 168px;
                margin-top: 104px;
                display: flex;
                width: 1160px;
                border: 1px solid black;
                    ul {
                            &:first-child {
                                width: 260px;
                                margin-right: 40px;
                                border: 1px solid blue;
                                p {
                                    @include Montserrat(14px);
                                    line-height: 24px;
                                    font-family: 'Montserrat', sans-serif;
                                    color: $shade75;
                                    height: 72px;
                                    border: 1px solid red;
                                }
                            }
                            li {
                                line-height: 17px;
                                margin-bottom: 21px;
                                    a {
                                        @include Montserrat(14px);
                                        line-height: 24px;
                                        font-family: 'Montserrat', sans-serif;
                                        color: $shade75;
                                    }
                                    &:nth-child(1){
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        margin-bottom: 21px;
                                            a {
                                                color: $shade100;
                                                line-height: 15px;
                                                font-size: 12px;
                                            }
                                    }
                            }
                            &:nth-child(2) {
                                width: 143px;
                                margin-right: 57px;
                            }
                            &:nth-child(3) {
                                width: 108px;
                                margin-right: 92px;
                            }
                            &:nth-child(4) {
                                width: 149px;
                                margin-right: 51px;
                            }
                            &:last-child {
                                flex: 260px;
                                margin-left: 0;
    
                            }
                    
                    }
            }
        }
}