include ../elements/input-text/input-text.pug

- var array = [['Навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['О нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['Служба поддержки', 'Соглашение', 'Сообщества', 'Связь с нами']]

.footer
    .footer__nav
        .footer__nav-inside
            ul   
                img(src="assets/img/logotypes/logo.svg", alt="")
                p. 
                    Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            for el in array
                ul
                    for i in el
                        li
                            a(href="#")=i

            ul
                for i in ['Подписка', 'Получайте специальные предложения и новости сервиса']
                    li
                        a(href="#")=i
                +Input("", "", "", "Your email address ", "text-field") 
                    
    .footer__social
        