include ../elements/input-text/input-text.pug

- var array1 = [['Navigation', 'About us', 'News', 'Support', 'Products'], ['About us', 'Who we are', 'Our team', 'Careers', 'Investors'], ['Support', 'Documentation', 'Community', 'Get in touch']]
- var textTop = 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'
- var textBottom = ['subscribes to our newsletter', 'Recieve our latest news and promotions in your inbox!']

- var array2 = [['Навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['О нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['Служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами']]
- var textTop = 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации "Отельные взгляды"'
- var textBottom = ['Подписка', 'Получайте специальные предложения и новости сервиса']
- var email = "email"

mixin Footer (list, clas, text, text2, email)
    div(class = clas)
        .inner-footer
            ul   
                img(src="https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/logotypes/logo.svg", alt="")
                p= text 
            for el in array
                ul
                    for i in el
                        li
                            a(href="#")=i

            ul
                for el in text2
                    li
                        a(href="#")=el
                +Input("", "", "", email, "little-arrow") 
                    
 
        