mixin block (props)
    - const {background, text, color} = props
    .block
        .block__squere(class=`block__squere_${background}`)
        .block__text
            .block__color-name= text
            .block__color-hex= color
