@import "../../../assets/utils/_main.scss";

.block {
  display: flex;
  margin-bottom: 1.25rem;
  align-items: center;
  &_squere {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 0.375rem;
    &_shade {
      background: $shade100;
    }
    &_shade75 {
      background: $shade75;
    }
    &_shade50 {
      background: $shade50;
    }
    &_shade25 {
      background: $shade25;
    }
    &_shade05 {
      background: $shade05;
    }
    &_purple {
      background: $purple;
    }
    &_green {
      background: $green;
    }
  }
  &__text {
    width: 9.9375rem;
    height: 3.5625rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.125rem;
    font-weight: bold;
    color: $shade100;
  }
  &__text_first {
    white-space: nowrap;
  }
  &__text2_second {
    font-weight: normal;
  }
}
