@import '../../../assets/utils/main';

.search-room-filter {
    &__title {
        color: $shade100;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20.5px;
    }
    &__rooms-wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 12px;
            .card-room {
                margin: 0 0 20px 0;
            }
            .card-room:nth-child(1),
            .card-room:nth-child(4),
            .card-room:nth-child(7), 
            .card-room:nth-child(10){
                margin-left: 0
            }
            .card-room:nth-child(10),
            .card-room:nth-child(11),
            .card-room:nth-child(12) {
                margin-bottom: 0
            }
    }
    &__pagination {
        margin: 42px 0 77px 289px;
    }
    .short-dropdown {
        width: 266px;
    }
}
@media (max-width: 1200px) {
    .search-room-filter {
        &__rooms-wrapper {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media (max-width: 910px) {
   
    .search-room-filter {
        &__right {
            margin: 0 auto;
        }
        &__title {
            font-size: 12px;
            text-transform: uppercase;
        }
        &__rooms-wrapper {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
        }
        &__pagination {
            margin: 0 auto;
        }
    }
}