@import '../../../assets/utils/main';

.search-room-filter {
    &__right {
        max-width: 834px;
        
    }
    &__title {
        color: $shade100;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20.5px;
    }
    &__rooms-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
            .card-room {
                margin: 0 0 20px 12px;
            }
            .card-room:nth-child(1),
            .card-room:nth-child(4),
            .card-room:nth-child(7), 
            .card-room:nth-child(10){
                margin-left: 0
            }
            .card-room:nth-child(10),
            .card-room:nth-child(11),
            .card-room:nth-child(12) {
                margin-bottom: 0
            }
    }
    &__pagination {
        margin: 40.94px 0 70px 290px;
    }
    
}