mixin button__register (register)
    if register === 'register'
        button.button__register
            span= register
    else 
        button.button__register(class='button__register_rus')
            span= register
      


