mixin button__register (register)
    if register === 'register'
        button.button__register
            span.button__register_text= register
    else 
        button.button__register(class='button__register_rus')
            span.button__register_text= register
      


