@import "../../../../assets/utils/_main.scss";

.button__register {
  height: 2.125rem;
  border-radius: 1.375rem;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background: $gradient;
  padding: 0 1.25rem;
  box-sizing: border-box;
  span {
    color: $white;
    font-weight: bold;
    font-size: 0.75rem;
    height: 0.9375rem;
    letter-spacing: 0.03125rem;
  }
}
.button__register_rus {
  width: 12.25rem;
}
