@import "../../../assets/utils/main";

.pagination {
  &__title {
    @include title-inputs;
    margin-bottom: 1.0275rem;
  }
  &__numbers {
    display: flex;
    margin-bottom: 0.67rem;
    margin-left: 1px;
    span:first-child {
      border-radius: 50%;
      color: $white;
      background: $gradient;
    }
  }
  span,
  &__img-container {
    width: 2.5rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: $shade50;
    @include flex-center;
  }
  &__img-container {
    border-radius: 50%;
    background: $gradient-green;
  }
  &__text {
    font-weight: normal;
    font-size: 0.875rem;
    color: $shade75;
    margin-left: 0.4rem;
  }
}
