.pagination__without-title
    .pagination__pagination
        for i in [1,2,3]
            span= i
        span ...
        span 15
        .img-container
            img(src="assets/img/icons/arrow_forward_white.svg", alt="arrow-right")
    .pagination__text 1 – 12 из 100+ вариантов аренды