@import '../../../../assets/utils/_main.scss';

.srt-btn {
    width: 99px;
    height: 44px;
    border-radius: 22px;
    border: none;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
    &.purple {
        background: $gradient;
        color: $white;
    }
    &.purple05 {
        background: $gradient;
        color: $white;
        opacity: 0.5;
    }
    &.white {
        color: $purple;
        border: 2px solid transparent;
        background-origin: border-box;
        background-image: $gradient;
        box-shadow: 1px 100px 1px #fff inset;   
    }
    &.white05 {
        color: $purple;
        border: 2px solid transparent;
        background-origin: border-box;
        background-image: $gradient;
        box-shadow: 1px 100px 1px #fff inset;  
        border-opacity: 0.5;
    }
}
