include ../../elements/input/input.pug
include ../../elements/toggle_one/toggle_one.pug
include ../../elements/buttons/button_long/button_long.pug
include ../../elements/buttons/button_short/button_short.pug
include ../../elements/radio/radio.pug

mixin registration-account
    .registration-account
        .registration-account__title Регистрация аккаунта
        .registration-account__two-fields
            +input('Имя','text-field')
            +input('Фамилия','text-field')
        +radio 
        .registration-account__bithday
            +input('ДД.ММ.ГГГГ', 'text-field', 'Дата рождения')
        .registration-account__two-fields
            +input('Email','text-field', 'Данные для входа в сервис')
            +input('Пароль','text-field')
        +toggle_one(false)
        .registration-account__button
            +button_long('Перейти к оплате')
        .registration-account__toxin
            .registration-account__text Уже есть аккаунт на Toxin
            +button_short("Войти", "white")
    

    
