@import "../../../assets/utils/main";

.registration-account {
  background: $white;
  width: 23.75rem;
  @include cards;
  &__title,
  &__two-fields, &__fields {
    font-size: 1.5rem;
    margin-bottom: 0.6525rem;
  }
  &__input-container:first-child, &__container-input {
    margin-bottom: 0.625rem;
  }

  &__fields-title {
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.3125rem;
  }
  &__title {
    margin-bottom: 1.2rem;
  }
  &__bithday {
    margin: 1.4725rem 0 1.25rem 0;
  }
  &__button {
    margin: 1.5rem 0 1.78rem 0;
  }
  @include toxin;
}

@media (max-width: 30rem) {
  .registration-account {
    width: 100%;
    &__two-fields, &__bithday {
      width: 100%;
    }
  }
}
@media (max-width: 23.1875rem) {
  .registration-account {
    &__toxin {
      justify-content: center;
    }
    &__text {
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 16rem) {
  .registration-account {
    &__title {
      font-size: 1.3rem;
    }
  }
}
