@import "../../../assets/utils/main";

.registration-account {
  height: 40.375rem;
  background: $white;
  width: 23.75rem;
  @include cards;
  &__title,
  &__two-fields {
    font-size: 1.5rem;
    width: 20rem;
    margin-bottom: 0.6525rem;
    .input:first-child {
      margin-bottom: 0.625rem;
    }
  }
  &__title {
    margin-bottom: 1.2rem;
  }
  &__two-fields:nth-child(2) {
    margin-bottom: 0.65rem;
  }
  &__bithday {
    margin: 1.4725rem 0 1.25rem 0;
  }
  &__button {
    margin: 1.5rem 0 1.875rem 0;
  }
  @include toxin;
}
