include ../../elements/input/input.pug
include ../../elements/toggle-one/toggle-one.pug
include ../../elements/buttons/button/button.pug
include ../../elements/buttons/button-login/button-login.pug
include ../../elements/radio/radio.pug

mixin registration-account
    .registration-account
        .registration-account__title Регистрация аккаунта
        .registration-account__two-fields
            +input({placeholder:'Имя'})
            +input({placeholder:'Фамилия'})
        +radio 
        .registration-account__bithday
            +input({placeholder: 'ДД.ММ.ГГГГ', className: 'long', leftLabel: 'Дата рождения'})
        .registration-account__two-fields
            +input({placeholder: 'Email', className: 'long', leftLabel: 'Данные для входа в сервис'})
            +input({placeholder:'Пароль', className: 'long'})
        +toggle-one(false)
        .registration-account__button
            +button({text: 'Перейти к оплате'})
        .registration-account__toxin
            .registration-account__text Уже есть аккаунт на Toxin
            +button-login("Войти", "fat")
    

    
