@import '../../../assets/utils/main';

.registration-account {
    height: 646px;
    background: $white;
    width: 380px;
    @include cards;
        &__bithday {
            margin: 19.56px 0 20px 0;
        }   
        &__two-fields {
            .input {
                margin-bottom: 9px;
            }
        }
        &__button {
            margin:24px 0 30px 0;
        }
        @include toxin;
}