include ../../elements/input/input.pug
include ../../elements/one-toggle/one-toggle.pug
include ../../elements/buttons/long-btn/long-btn.pug
include ../../elements/buttons/short-btn/short-btn.pug
include ../../elements/radio/radio.pug

mixin registration-account
    .registration-account
        .registration-account__title Регистрация аккаунта
        .registration-account__two-fields
            +input('Имя','text-field')
            +input('Фамилия','text-field')
        +radio 
        .registration-account__bithday
            +input('ДД.ММ.ГГГГ', 'text-field', 'Дата рождения')
        .registration-account__two-fields
            +input('Email','text-field', 'Данные для входа в сервис')
            +input('Пароль','text-field')
        +one-toggle(false)
        .registration-account__button
            +long-btn('Перейти к оплате')
        .registration-account__toxin
            .registration-account__text Уже есть аккаунт на Toxin
            +srt-btn("Войти", "white")
    

    
