.main
    
    .main__text.
        Лучшие номера для вашей работы отдыха и просто вдохновения
    .main__image-wrapper 
        img(src="assets/img/rooms/main-picture.jpg", alt="main-picture")
    


            
    