include ../../elements/buttons/long-btn/long-btn.pug

.main
    .main__frame
        .main__title
            p. 
                Найдем номера под ваши пожелания
        .main__date
        .main__guests
        .main__button-wrapper
            +longBtn("Подобрать номер")    
    .main__text.
        Лучшие номера для вашей работы отдыха и просто вдохновения
    .main__image-wrapper 
        img(src="assets/img/rooms/main-picture.jpg", alt="main-picture")
    


            
    