@import '../../assets/utils/main';

body {
    height: 1853px;
        .form-elements {
            width: 100%;
            height: 100%;
            background: lightblue;
            display: flex;   
        }
}
