include ../../components/body/body
include ../../components/elements/logo-wrapper/logo-wrapper

+body("Form elements")
+logo-wrapper
.form-elements
    include ./left-column/left-column.pug
    include ./center-column/center-column.pug
    include ./right-column/right-column.pug