include ../label/label.pug
include ../../common/datepicker-here/datepicker-here

mixin input-calendar (props)
    - const {placeholder, classLabel, leftLabel, placeholder2, classLabel2, leftLabel2, id, id2, inline} = props
    .input-calendar
        .input-calendar__label
            +label(props)
        +datepicker-here(props)
    .input-calendar
        .input-calendar__label
            +label({classLabel: classLabel2, leftLabel: leftLabel2})
        +datepicker-here({placeholder: placeholder2, id: id2, inline})    