@import "../../../assets/utils/main";

.input-calendar {
  @include input-text;
  .input-calendar {
    input[type="text"] {
      margin-right: 1.25rem;
      width: 9.375rem;
      &::placeholder {
        color: $shade75;
      }
      background: url("https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/expand.svg")
          no-repeat 7.5rem,
        $white;
    }
  }
}
