@import "../../../assets/utils/main";

.input-calendar {
  @include input-text;
  input[type="text"] {
    width: 9.375rem;
    &::placeholder {
      color: $shade75;
    }
    background: url("https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/expand.svg")
        no-repeat 7.5rem,
      $white;
  }
  &__label {
    margin-bottom: 0.3125rem;
  }
}
