include ../label/label.pug
include ../../common/calendar-not-expand/calendar-not-expand

mixin input-calendar (placeholder, classLabel, leftLabel, rightLabel)
    .input-calendar
        +label(leftLabel, rightLabel, classLabel)
        +calendar-not-expand(placeholder)  