include ../label/label.pug
include ../../common/calendar-not-expand/calendar-not-expand

mixin input-calendar (placeholder, classLabel, leftLabel, placeholder2, classLabel2, leftLabel2, id, id2 )
    .input-calendar
        +label(leftLabel, '', classLabel)
        +calendar-not-expand(placeholder, id)
    .input-calendar
        +label(leftLabel2, '', classLabel2)
        +calendar-not-expand(placeholder2, id2)    