@import "../../../../assets/utils/_main.scss";

.button-login {
  height: 2.125rem;
  border: none;
  border-radius: 1.375rem;
  background-image: linear-gradient(180deg, $purple 0%, $blue 100%);
  min-width: 4.9375rem;
  text-transform: uppercase;
  &:hover {
    background-image: linear-gradient($purple50 0%, $blue50 100%);
  }
  &__text {
    padding: 0 1rem;
    color: $purple;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 0.7499625rem;
    height: 0.9375rem;
    padding: 0.45rem 1.15rem;
    background: $white;
    border-radius: 1.58rem;
  }
  &_rus {
    min-width: 5.4375rem;
  }
}

