@import "../../../assets/utils/main";
body {
  @include body;
}
.headers-footers {
  overflow: hidden;
  &__logo-wrapper {
    position: absolute;
    left: 1.875rem;
    top: 1.875rem;
  }
  &__section {
    box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
    &_first {
      margin: 9.375rem 0 2.5rem 0;
    }
    &_third {
      margin-top: 2.5rem;
    }
    &_fifth {
      margin-top: 2.5rem;
      padding: 6.25rem 0 6.875rem;
      display: flex;
      justify-content: center;
      height: 22.9375rem;
      box-sizing: border-box;
    }
  }
  &__image {
    width: 6.605625rem;
    margin: 0 auto;
  }
  &__text {
    width: 35rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $shade75;
    margin: 0.9375rem auto 1.6875rem;
    text-align: center;
  }
  &__social {
    display: flex;
    justify-content: center;
  }
}
.footer_eng .footer__text-block {
  padding-top: 6.5625rem;
}

@media (max-width: 35rem) {
  .headers-footers {
    min-width: 17rem;
    &__text {
      width: 100%;
    }
  }
}