include ../../common/footer/footer.pug
include ../../common/copyright/copyright.pug
include ../../common/header/header.pug
include ../../elements/logo-wrapper/logo-wrapper.pug
include ../../elements/social/social.pug 

mixin headers-footers (options)
    - const {header, footer, copyright} = options
    - const {classHeader2, titlesNavbar} = header
    .headers-footers
        .headers-footers__logo-wrapper
            +logo-wrapper
        .headers-footers__section.headers-footers__section_first
            +header(header)
        .headers-footers__section.headers-footers__section_second
            +header({classHeader: classHeader2, titlesNavbar})
        .headers-footers__section.headers-footers__section_third
            +footer(footer)
        .headers-footers__section.headers-footers__section_fourth
            +copyright(copyright)
        .headers-footers__section.headers-footers__section_fifth
            .headers-footers__image-text-social
                .headers-footers__image
                    img(src="/public/assets/img/logotypes/logo.svg", alt="logotypes")
                .headers-footers__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                .headers-footers__social 
                    +social                        
