@import "../../../assets/utils/main";
body {
  @include body;
}
.headers-footers {
  position: absolute;
  width: 100%;
  top: 0;
  &__section {
    margin: 9.375rem 0 2.5rem 0;
    box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  }
  &__section2,
  &__section3,
  &__section4 {
    box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  }
  &__section3 {
    margin-top: 2.5rem;
  }
  &__section5 {
    margin-top: 2.5rem;
    padding: 6.25rem 30.555% 6.875rem;
    height: 22.9375rem;
    box-sizing: border-box;
    box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  }
  &__image {
    width: 6.605625rem;
    margin: 0 auto;
  }
  &__text {
    width: 35rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $shade75;
    margin: 0.9375rem auto 1.6875rem;
    text-align: center;
  }
  &__social {
    .social {
      margin: 0 auto;
    }
  }
}
