include ../stars/stars

mixin rate
    .rate
        .rate__title Rate Button
        .rate__rate
            .rate__stars
                +stars(4)
            .rate__stars
                +stars(5)   