@import '../../../assets/utils/main';

.rate {
    &__title {
        @include inputTitle;
        margin-bottom: 16px;
    }
    &__rate {
        display: flex;
    }
    &_left {
        margin-right: 20px;
    }
}