include ../comments-stars/stars/stars

.rate-button
    .rate-button__title Rate Button
    .rate-button__rate
        .rate-button__left
            +stars(4)
        .rate-button__right
            +stars(5)   