@import '../../../assets/utils/main';

.rate {
    &__title {
        @include inputTitle;
        margin-bottom: 1rem;
    }
    &__rate {
        display: flex;
    }
    &_left {
        margin-right: 1.25rem;
    }
}