.buttons-login-register {
  flex-wrap: wrap;
  display: flex;
  &__button {
    margin-left: 1.25rem;
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}
@media (max-width: 81.3125rem) {
  .buttons-login-register {
    width: 100%;
    justify-content: space-between;
  }
  
}
@media (max-width: 25.4375rem) {
  .buttons-login-register {
    &__button {
      margin: 0 2rem 0.5rem 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}