include ../button-login/button-login
include ../button-register/button-register

mixin buttons-login-register(props)
    - const {log, register} = props
    .buttons-login-register
        .buttons-login-register__button
            +button-login(log)
        .buttons-login-register__button
            +button-register(register)
        
