.buttons-login-register {
  flex-wrap: wrap;
  display: flex;
  &__login {
    margin-right: 1.25rem;
  }
}
@media (max-width: 81.3125rem) {
  .buttons-login-register {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 30.3125rem) {
  .buttons-login-register {
    &__login {
      margin-bottom: 0.8rem;
    }
  }
}