include ../../elements/luxe/luxe.pug
include ../../elements/buttons/button/button
include ../../elements/double-date-calendar/double-date-calendar
include ../../elements/dropdowns-guest-selection/dropdowns-guest-selection

mixin reservation
    .reservation
        +luxe({img: 888, firstNumberPrice: 9, price: 990, clas: '', fontSize: 1.5})
        .reservation__incoming
            +double-date-calendar       
        .reservation__guests
            +dropdowns-guest-selection({placeholder: '3 гостя', className: 'long', leftLabel: 'гости', rightLabel: '', showButtonClear: 'block', classShowDropdown: 'dropdowns-guest-selection_hide', x: 3})
        .reservation__list
            .reservation__price
                p.reservation__paragraph 9990&#8381 x 4 суток
                p.reservation__paragraph 39960&#8381
            .reservation__tax
                p.reservation__paragraph Сбор за услуги: скидка 2179&#8381
                .reservation__round i
                p.reservation__paragraph 0&#8381
            .reservation__fee
                p.reservation__paragraph Сбор за дополнительные услуги
                .reservation__round i
                p.reservation__paragraph 300&#8381
            .reservation__result
                p.reservation__paragraph Итого
                .reservation__dots
                p.reservation__paragraph 38081&#8381
        +button({text: 'Забронировать'})