@import '../../../assets/utils/main';

.reservation {
    height: 511px;
    width: 380px;
    @include cards;
    &__main-title {
        @include space-between;
        margin-bottom: 20px;
    }
    &__guests {
        margin: 20px 0 20.56px 0;
    }
    &__incoming {
        display: flex;
        margin-top: 20px;
            .input-text {
                input[type='text'] {
                margin-right: 20px;
                width: 150px;
                }
            }
    }
    &__list {
        margin: 20.56px 0 20px 0;
    }
    &__price, &__tax, &__fee {
        display: flex;
        justify-content: space-between;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $shade75;
        margin-bottom: 12px;
        position: relative;
            p:first-child {
                width: 214px;
            }
            .round {
                position: absolute;
                left: 219px;
                width: 20px;
                height: 20px;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                border-radius: 50%;
                border: 1px solid $shade25;
                color: $shade25;
                @include flex-center;
            }      
    }
    &__fee {
        p {
            line-height: 1.3;
        }
    }
    &__result {
        margin-top: 30px;
        @include space-between;
        color: $shade100;
        font-family: 'Quicksand', Arial, sans-serif;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
    }
    &__dots {
        width: 182px;
        border-bottom: 1px dotted $shade25;
        
    }
}