include ../../elements/luxe/luxe.pug
include ../../elements/buttons/button/button
include ../../elements/input/input
include ../../elements/dropdowns-guest-selection/dropdowns-guest-selection

mixin reservation
    .reservation
        +luxe(888,9, 990,'', 24)
        .reservation__incoming
            +input('19.08.2019','input_small', 'small', 'Прибытие')
            +input('23.08.2019','input_small', 'small', 'Выезд')
        .reservation__guests
            +dropdowns-guest-selection('3 гостя', 'input_long', "long", 'гости', '', 'block', 'dropdowns-guest-selection_hide', 3)
        .reservation__list
            .reservation__price
                p.reservation__p 9990&#8381 x 4 суток
                p.reservation__p 39960&#8381
            .reservation__tax
                p.reservation__p Сбор за услуги: скидка 2179&#8381
                .round i
                p.reservation__p 0&#8381
            .reservation__fee
                p.reservation__p Сбор за дополнительные услуги
                .round i
                p.reservation__p 300&#8381
            .reservation__result
                p.reservation__p Итого
                .reservation__dots
                p.reservation__p 38081&#8381
        +button('Забронировать')