@import "../../../assets/utils/main";

.dropdowns-guest-selection {
  position: relative;
  input {
    cursor: default;
  }
  &__container-execute {
    @include container_execute;
    padding-top: 0.3475rem;
    .execute-panel {
      &_increment-decrement {
        padding-top: 0.0625rem;
        box-sizing: border-box;
      }
      &_result {
        padding-bottom: 0.1875rem;
        box-sizing: border-box;
      }
    }
  }
  &__wrapper-execute-panel {
    margin-bottom: 0.375rem;
  }
  &_hide {
    display: none;
  }
  &__buttons {
    margin-top: 1.25rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__apply {
    color: $purple;
    cursor: pointer;
  }
  &__clear {
    color: $shade50;
    cursor: pointer;
  }
  &_disappeared {
    opacity: 0;
    cursor: default;
  }
}

@media (max-width: 30rem) {
  .dropdowns-guest-selection  {
    width: 100%;
    .input {
      width: 100%;
      &__input_long {
        width: 100%;
      }
    }
  }
}

