include ../input/input
include ../execute-panel/execute-panel

mixin dropdowns-guest-selection (placeholder='', classInput='', classLabel='', leftLabel='', rightLabel='', showButtonClear='', classShowDropdown='', x = 0, y = 0, z = 0)
    .dropdowns-guest-selection
        +input(placeholder, classInput, classLabel, leftLabel, rightLabel)
        .dropdowns-guest-selection__container-execute(class= classShowDropdown)
            - let humans = [{people: 'Взрослые', number: x}, {people: 'Дети', number: y}, {people: 'Младенцы', number: z}]
                for el in humans
                    - let {people, number} = el
                        .dropdowns-guest-selection__wrapper-execute-panel
                            +execute-panel(people, number)
            .dropdowns-guest-selection__buttons
                if showButtonClear === 'block'
                    .dropdowns-guest-selection__clear Очистить
                .dropdowns-guest-selection__apply Применить