include ../../components/body/body
include ../../components/footer/footer

- var array = [['Навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['О нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['Служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами']]
- var text = 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации "Отельные взгляды"'
- var text2 = ['Подписка', 'Получайте специальные предложения и новости сервиса']

+body("Search room/Filter")
.search-room-filter
    include ../../components/header/header
    .search-room-filter__main
        include ./search-room-filter-left/search-room-filter-left
        include ./search-room-filter-right/search-room-filter-right
    +Footer (array, 'footer', text, text2)
    include ../../components/common/copyright/copyright