include ../../components/body/body
include ../../components/footer/footer
include ../../components/common/copyright/copyright
include ../../components/header/header
include ./search-room-filter__main/search-room-filter__main

mixin search-room-filter
    .search-room-filter
        +header('header')
        +search-room-filter__main
        +footer ('footer')
        +copyright('copyright')

+body("Search room/Filter")
+search-room-filter