@import '../../assets/utils/main';

.search-room-filter {
        &__main {
            display: flex;
            justify-content: space-between;
            padding: 30px 140px 0 140px;
            box-sizing: border-box;
        }  
}