@import '../../../assets/utils/main';

.like-button {
    &__title {
        @include inputTitle;
        margin-bottom: 1rem;
    }
    &__like {
        display: flex;
            .like:nth-child(1) {
                margin-right: 0.625rem;
            }  
    }
}