@import '../../../assets/utils/main';

.like-button {
    .like-button__title {
        @include inputTitle;
        margin-bottom: 16px;
    }
    &__like {
        display: flex;
            .like:nth-child(1) {
                margin-right: 10px;
            }  
    }
}