include ./components/mixins-pages/cards/cards
include ./components/common/head/head

<!DOCTYPE html>
html(lang="en")
    +head("Cards")
    body
        +cards({
            cardRoomFirst: 
            {
                img: 888, 
                firstNumberPrice: 9, 
                price: 990, 
                stars: 5, 
                comments: 145
            },
            cardRoomSecond: 
            {
                img: 840, 
                firstNumberPrice: 9, 
                price: 990, 
                stars: 4, 
                comments: 65, 
                clas: "luxe_not-show"
            }
        })  