include ./components/mixins-pages/demo/demo
include ./components/common/head/head

<!DOCTYPE html>
html(lang="en")
    +head("Demo")
    body
        +demo ({
            websiteTitles: [
                {
                    title: 'Landing Page', 
                    link: 'landing'
                }, 
                {
                    title: 'Registration', 
                    link: 'registration'
                },
                {
                    title: 'Room details', 
                    link: 'room-details'}, 
                {
                    title: 'Search room/ Filter', 
                    link: 'search-room-filter'
                },
                {
                    title: 'Sign in', 
                    link: 'sign-in'
                }
            ],
            uikitTitles: [
                {
                    title: 'Cards',
                    link: 'cards'
                }, 
                {
                    title: 'Colors & type', 
                    link: 'colors-type'
                },
                {
                    title: 'Form elements', 
                    link: 'form-elements'
                }, 
                {
                    title: 'Headers & footers', 
                    link: 'headers-footers'
                }
            ]
        })    