include ./components/mixins-pages/form-elements/form-elements

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(name="keywords" content='Cards')
        meta(name="description" content='Cards')
        link(rel="apple-touch-icon" sizes="180x180" href='assets/favicons/apple-touch-icon.png')
        link(rel="icon" type="image/png" sizes="32x32" href='assets/favicons/favicon-32x32.png')
        link(rel="icon" type="image/png" sizes="16x16" href='assets/favicons/favicon-16x16.png')
        link(rel="manifest" href="assets/favicons/site.webmanifest")
        link(rel="mask-icon" href='assets/favicons/safari-pinned-tab.svg' color="#5bbad5")
        meta(name="msapplication-TileColor" content="#2d89ef")
        meta(name="theme-color" content="#ffffff")
        title Form elements
    body
        +form-elements({
            checkboxList: [
                {
                    checked: false,
                    text: 'Можно курить'
                },
                {
                    checked: true, 
                    text: 'Можно с питомцaми'
                },
                {
                    checked: true, 
                    text: 'Можно пригласить гостей (до 10 человек)'
                }
            ],
            bulletList: [
                "Нельзя с питомцами", 
                "Без вечеринок и мероприятий", 
                "Время прибытия — после 13:00, а выезд до 12:00"
            ],
            list: [
                {
                    text: 'Завтрак', 
                    checked: false
                },
                {
                    text: 'Письменный стол', 
                    checked: true
                },
                {
                    text: 'Стул для кормления', 
                    checked: true
                },
                {
                    text: 'Кроватка', 
                    checked: true
                },
                {
                    text: 'Телевизор', 
                    checked: false
                },
                {
                    text: 'Шампунь', 
                    checked: false
                },
                {
                    text: 'Телевизор', 
                    checked: false
                },
                {
                    text: 'Шампунь', 
                    checked: false
                }
            ]
        })