include ./components/mixins-pages/form-elements/form-elements
include ./components/common/head/head

<!DOCTYPE html>
html(lang="en")
    +head("Form elements")
    body
        +form-elements({
            checkboxList: [
                {
                    checked: false,
                    text: 'Можно курить',
                    id: "smocking"
                },
                {
                    checked: true, 
                    text: 'Можно с питомцaми',
                    id: "pet"
                },
                {
                    checked: true, 
                    text: 'Можно пригласить гостей (до 10 человек)',
                    id: "guests"
                }
            ],
            bulletList: [
                "Нельзя с питомцами", 
                "Без вечеринок и мероприятий", 
                "Время прибытия — после 13:00, а выезд до 12:00"
            ],
            list: [
                {
                    text: 'Завтрак', 
                    checked: false,
                    id: "breakfast"
                },
                {
                    text: 'Письменный стол', 
                    checked: true,
                    id: "table"
                },
                {
                    text: 'Стул для кормления', 
                    checked: true,
                    id: "chair"
                },
                {
                    text: 'Кроватка', 
                    checked: true,
                    id: "crib"
                },
                {
                    text: 'Телевизор', 
                    checked: false,
                    id: 'telly'
                },
                {
                    text: 'Шампунь', 
                    checked: false,
                    id: "shampoo"
                },
                {
                    text: 'Телевизор', 
                    checked: false,
                    id: "tv"
                },
                {
                    text: 'Шампунь', 
                    checked: false,
                    id: "shamp"
                }
            ]
        })