include ./components/mixins-pages/headers-footers/headers-footers

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(name="keywords" content='Cards')
        meta(name="description" content='Cards')
        link(rel="apple-touch-icon" sizes="180x180" href='assets/favicons/apple-touch-icon.png')
        link(rel="icon" type="image/png" sizes="32x32" href='assets/favicons/favicon-32x32.png')
        link(rel="icon" type="image/png" sizes="16x16" href='assets/favicons/favicon-16x16.png')
        link(rel="manifest" href="assets/favicons/site.webmanifest")
        link(rel="mask-icon" href='assets/favicons/safari-pinned-tab.svg' color="#5bbad5")
        meta(name="msapplication-TileColor" content="#2d89ef")
        meta(name="theme-color" content="#ffffff")
        title Headers & footers
    body
        +headers-footers ({
            header: {
                classHeader: 'header_eng',
                classHeader2: 'header_eng-second',
                titlesNavbar: [
                    {
                        item: 'Home'
                    },
                    {
                        item: 'About Us'
                    },
                    {
                        item: 'Services',
                        image: true
                    },
                    {
                        item: 'Careers'
                    },
                    {
                        item:'News'
                    },
                    {
                        item:'Documentation'
                    }
                ],
                log: 'login',
                register: 'register'
            },
            footer: {
                classFooter: 'footer_eng',
                titlesFooter: [
                    [
                        'Navigation',
                        'About us', 
                        'News', 
                        'Support', 
                        'Products'
                    ], 
                    [
                        'About us', 
                        'Who we are', 
                        'Our team', 
                        'Careers', 
                        'Investors'
                    ], 
                    [
                        'Support', 
                        'Documentation', 
                        'Community', 
                        'Get in touch']
                    ], 
                textTop: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.', 
                textBottom: [
                    'subscribe to our newsletter', 
                    'Recieve our latest news and promotions in your inbox!'
                ],
                email: 'Your email address'   
            },
            copyright: {
                text: 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
            }
        })