include ./components/mixins-pages/headers-footers/headers-footers
include ./components/common/head/head

<!DOCTYPE html>
html(lang="en")
    +head("Headers & footers")
    body
        +headers-footers ({
            header: {
                classHeader: 'header_eng',
                classHeader2: 'header_eng-second',
                titlesNavbar: [
                    {
                        item: 'Home'
                    },
                    {
                        item: 'About Us'
                    },
                    {
                        item: 'Services',
                        image: true
                    },
                    {
                        item: 'Careers'
                    },
                    {
                        item:'News'
                    },
                    {
                        item:'Documentation'
                    }
                ],
                log: 'login',
                register: 'register'
            },
            footer: {
                classFooter: 'footer_eng',
                titlesFooter: [
                    [
                        'Navigation',
                        'About us', 
                        'News', 
                        'Support', 
                        'Products'
                    ], 
                    [
                        'About us', 
                        'Who we are', 
                        'Our team', 
                        'Careers', 
                        'Investors'
                    ], 
                    [
                        'Support', 
                        'Documentation', 
                        'Community', 
                        'Get in touch']
                    ], 
                textTop: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.', 
                textBottom: [
                    'subscribe to our newsletter', 
                    'Recieve our latest news and promotions in your inbox!'
                ],
                email: 'Your email address'   
            },
            copyright: {
                text: 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
            }
        })