include ./components/mixins-pages/search-room-filter/search-room-filter

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        meta(name="keywords" content='search room/ filter')
        meta(name="description" content='search room/ filter')
        link(rel="icon" href="favicon.ico")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        title Search room/ Filter
    body
        +search-room-filter ({
            header: {
                classHeader: '',
                titlesNavbar: [
                    {
                        item: 'О нас'
                    },
                    {
                        item: 'Услуги',
                        image: true
                    },
                    {
                        item: 'Вакансии'
                    },
                    {
                    item: 'Новости'
                    },
                    {
                    item:'Соглашения', 
                    image: true
                    }
                ],
                log: 'войти',
                register: 'зарегистрироваться'
            },
            footer: {
                classFooter: '',
                titlesFooter: [
                    [
                        'Навигация', 
                        'О нас', 
                        'Новости', 
                        'Служба поддержки', 
                        'Услуги'
                    ], 
                    [
                        'О нас', 
                        'О сервисе', 
                        'Наша команда', 
                        'Вакансии', 
                        'Инвесторы'
                    ], 
                    [
                        'Служба поддержки', 
                        'Соглашения', 
                        'Сообщества', 
                        'Связь с нами'
                    ]
                ], 
                textTop: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', 
                textBottom: [
                    'Подписка', 
                    'Получайте специальные предложения и новости сервиса'
                ],
                email: 'Email'
            },
            copyright: {
                text: 'Copyright © 2018 Toxin отель. Все права зачищены.'
            },
            checkboxList: [
                {
                    checked: false,
                    text: 'Можно курить'
                },
                {
                    checked: true, 
                    text: 'Можно с питомцaми'
                },
                {
                    checked: true, 
                    text: 'Можно пригласить гостей (до 10 человек)'
                }
            ],
            list: [
                {
                    text: 'Завтрак', 
                    checked: false
                },
                {
                    text: 'Письменный стол',
                     checked: true
                },
                {
                    text: 'Стул для кормления', 
                    checked: true
                },
                {
                    text: 'Кроватка',
                     checked: true
                },
                {
                    text: 'Телевизор', 
                     checked: false
                },
                {
                    text: 'Шампунь', 
                    checked: false
                },
                {
                    text: 'Телевизор', 
                    checked: false
                },
                {
                    text: 'Шампунь', 
                    checked: false
                }
            ]
        }) 