include ./components/mixins-pages/search-room-filter/search-room-filter
include ./components/common/head/head

<!DOCTYPE html>
html(lang="en")
    +head("Search room / filter")
    body
        +search-room-filter ({
            header: {
                classHeader: '',
                titlesNavbar: [
                    {
                        item: 'О нас'
                    },
                    {
                        item: 'Услуги',
                        image: true
                    },
                    {
                        item: 'Вакансии'
                    },
                    {
                    item: 'Новости'
                    },
                    {
                    item:'Соглашения', 
                    image: true
                    }
                ],
                log: 'войти',
                register: 'зарегистрироваться'
            },
            footer: {
                classFooter: '',
                titlesFooter: [
                    [
                        'Навигация', 
                        'О нас', 
                        'Новости', 
                        'Служба поддержки', 
                        'Услуги'
                    ], 
                    [
                        'О нас', 
                        'О сервисе', 
                        'Наша команда', 
                        'Вакансии', 
                        'Инвесторы'
                    ], 
                    [
                        'Служба поддержки', 
                        'Соглашения', 
                        'Сообщества', 
                        'Связь с нами'
                    ]
                ], 
                textTop: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', 
                textBottom: [
                    'Подписка', 
                    'Получайте специальные предложения и новости сервиса'
                ],
                email: 'Email'
            },
            copyright: {
                text: 'Copyright © 2018 Toxin отель. Все права зачищены.'
            },
            checkboxList: [
                {
                    checked: false,
                    text: 'Можно курить',
                    id: "smock"
                },
                {
                    checked: true, 
                    text: 'Можно с питомцaми',
                    id: "dog"
                },
                {
                    checked: true, 
                    text: 'Можно пригласить гостей (до 10 человек)',
                    id: "invite"
                }
            ],
            list: [
                {
                    text: 'Завтрак', 
                    checked: false,
                    id: "break"
                },
                {
                    text: 'Письменный стол',
                     checked: true,
                     id: "desk"
                },
                {
                    text: 'Стул для кормления', 
                    checked: true,
                    id: "stool"
                },
                {
                    text: 'Кроватка',
                    checked: true,
                    id: "bed"
                },
                {
                    text: 'Телевизор', 
                    checked: false,
                    id: "tvset"
                },
                {
                    text: 'Шампунь', 
                    checked: false,
                    id: "wash"
                },
            ]
        }) 