include ./components/mixins-pages/sign-in/sign-in
include ./components/common/head/head

<!DOCTYPE html>
html(lang="en")
    +head("Sign in")
    body
        +sign-in ({
            header: {
                classHeader: '',
                titlesNavbar: [
                    {
                        item: 'О нас'
                    },
                    {
                        item: 'Услуги',
                        image: true
                    },
                    {
                        item: 'Вакансии'
                    },
                    {
                    item: 'Новости'
                    },
                    {
                    item:'Соглашения', 
                    image: true
                    }
                ],
                log: 'войти',
                register: 'зарегистрироваться'
            },
            footer: {
                classFooter: '',
                titlesFooter: [
                    [
                        'Навигация', 
                        'О нас', 
                        'Новости', 
                        'Служба поддержки', 
                        'Услуги'
                    ], 
                    [
                        'О нас', 
                        'О сервисе', 
                        'Наша команда', 
                        'Вакансии', 
                        'Инвесторы'
                    ], 
                    [
                        'Служба поддержки', 
                        'Соглашения', 
                        'Сообщества', 
                        'Связь с нами'
                    ]
                ], 
                textTop: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', 
                textBottom: [
                    'Подписка', 
                    'Получайте специальные предложения и новости сервиса'
                ],
                email: 'Email'
            },
            copyright: {
                text: 'Copyright © 2018 Toxin отель. Все права зачищены.'
            }
        })   