@mixin back($color) {
    background: $color
}


.wrapper {
    border: 1px solid black;
    color: white;
    width: 100px;
    height: 100px;
    background: red;
}
body {
    color: blue;
    @include back(orange);
    color: black;
}