@import '../../../assets/utils/main';

.room-details {
    &__main {
        padding: 70px 140px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 24px;
        color: $shade75;
    }
    &__left {
        width: 295px;
        margin-right: 67px;
    }
    &__title {
        font-family: Quicksand;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: $shade100;
    }
    &__room-information {
            .info-room:first-child {
                margin: 20px 0 41px;
            }
            .info-room:last-child {
                margin: 41px 0 30px;
            }
    }
    &__room-impressions {
        margin-bottom: 474px;
    }
    &__diagramma {
        display: flex;
        align-items: flex-end;
    }
    &__circle {
        width: 120px; 
        height: 120px;
        border-top: 3px solid yellow;
        border-bottom: 3px solid $green;
        border-left: 3px solid orange;
        margin-top: 21px;
        border-radius: 50% 50% 50% 50%;
        margin-right: 45px;
    }
    &__list {
        ul {
            list-style-type: none;
                li {
                    font-size: 14px;
                    line-height: 24px;
                    color: $shade75;
                    position: relative;
                        &:before {
                            content: '';
                            display: block;
                            border-radius: 50%;
                            position: absolute;
                            left: -15px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 10px;
                            height: 10px;
                            background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
                        }
                        &:nth-child(2):before {
                            background: $green;
                        }
                        &:nth-child(3):before {
                            background: $purple;
                        }
                        &:nth-child(4):before {
                            background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
                        }
                }
        }
    }

    &__room-escape {
        p {
            color: $shade75;
            font-size: 14px;
            line-height: 24px;
            margin-top: 20px;
            width: 341px;
            height: 96px;
        }
    }
    &__comments-consumer {
        .consumer-comments:first-child {
            margin: 23px 0;
        }
    }
}
