mixin stars (stars)
    .stars
        - let emptyStars = 5 - stars
        - for (var i=0; i < stars; i++) 
            .stars__image.stars__image_first
        - for (var j=0; j < emptyStars; j++)
            .stars__image.stars__image_second