.stars {
    display: flex;
    &__image {
        background: url(https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/star.svg) no-repeat center;
        width: 1.5rem;
        height: 1.5rem;
    }
    &__image2 {
        background: url(https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/icons/star_border.svg) no-repeat center;
        width: 1.5rem;
        height: 1.5rem;
    }
}