<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cards
    body
        include ../../components/elements/logo-wrapper/logo-wrapper.pug 
        .cards
            include ./left-column/left-column.pug
            .cards__center-column
            .cards__right-column