@import "../../../assets/utils/main";
body {
  @include body;
}
.colors-type {
  height: 100%;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  padding-top: 9.0625rem;
  padding-left: 9%;
  display: flex;
  flex-wrap: wrap;
  &__title {
    margin-right: 1rem;
  }
  &__logo-wrapper {
    position: absolute;
    left: 1.875rem;
    top: 1.875rem;
  }
  &__squares {
    margin-right: 26.8rem;
    margin-bottom: 2rem;
  }
  &__block-wrapper {
    margin-bottom: 1.25rem;
  }
  &__colors-title-wrapper {
    &:first-child,
    &:nth-child(2) {
      margin-left: 0.5rem;
      margin-bottom: 3.125rem;
    }
    &:nth-child(3) {
      margin-left: 1.125rem;
      margin-bottom: 2.95rem;
    }
  }
}
@media (max-width: 42rem) {
  .colors-type {
    min-width: 20rem;
    padding-left: 10%;
    justify-content: flex-start;
    &__squares {
      margin-right: 0;
      margin-left: 0;
    }
  }
}