@import "../../../assets/utils/main";

.colors-type {
  height: 100%;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  padding: 9.0625rem 10.41666% 0;
  min-width: 20rem;
  &__content {
    display: flex;
    max-width: 68.6875rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__logo-wrapper {
    position: absolute;
    left: 1.875rem;
    top: 1.875rem;
  }
  &__squares {
    margin-bottom: 2rem;
  }
  &__block-wrapper {
    margin-bottom: 1.25rem;
  }
  &__colors-title-wrapper {
    &:first-child,
    &:nth-child(2) {
      margin-left: 0.5rem;
      margin-bottom: 3.125rem;
    }
    &:nth-child(3) {
      margin-left: 1.125rem;
      margin-bottom: 2.95rem;
    }
  }
}
