include ../../elements/block/block
include ../../elements/logo-wrapper/logo-wrapper
include ../../elements/colors-title/colors-title
include ../../elements/logo-wrapper/logo-wrapper.pug 

mixin colors-type(options)
    - const {blocks, titles} = options
    .colors-type
        .colors-type__logo-wrapper
            +logo-wrapper  
        .colors-type__squares
            for el in blocks
                .colors-type__block-wrapper
                    +block(el)
        .colors-type__title
            for el in titles
                .colors-type__colors-title-wrapper
                    +colors-title(el)
