include ../../common/footer/footer
include ../../common/copyright/copyright
include ../../common/header/header
include ./room-details-description/room-details-description
include ./room-details-images/room-details-images

mixin room-details(options)
    - const {header, footer, copyright} = options
    .room-details
        +header(header)
        +room-details-images
        +room-details-description(options)
        +footer(footer)
        +copyright(copyright)

