include ../../common/footer/footer
include ../../common/copyright/copyright
include ../../common/header/header
include ./room-details-description/room-details-description
include ./room-details-images/room-details-images

mixin room-details (options)
    - const {header, footer, copyright, bulletList, textOne, textTwo} = options
    - let {classHeader, titlesNavbar, log, register} = header
    .room-details
        +header (classHeader, titlesNavbar, log, register)
        +room-details-images
        +room-details-description({bulletList, textOne, textTwo})
        +footer(footer)
        +copyright(copyright)

