include ../../common/footer/footer
include ../../common/copyright/copyright
include ../../common/header/header
include ./room-details-description/room-details-description
include ./room-details-images/room-details-images

mixin room-details(options)
    - const {header, footer, copyright} = options
    .room-details
        .room-details__content
            +header(header)
            +room-details-images
            +room-details-description(options)
        .room-details__wrapper
            +footer(footer)
            +copyright(copyright)

