include ../../../elements/dropdowns-long/dropdowns-long
include ../../../elements/consumer-comments/consumer-comments
include ../../../elements/checkbox-rich/checkbox-rich
include ../../../elements/checkbox/checkbox.pug
include ../../../elements/radio/radio.pug
include ../../../elements/toggle/toggle.pug
include ../../../elements/like-button/like-button.pug
include ../../../elements/rate/rate.pug

mixin form-elements_center
    .form-elements_center
        .form-elements_center_container-checkbox
            +checkbox
        .form-elements_center_container-radio
            +radio('show')
        .form-elements_center_container-toggle
            +toggle('show')
        .form-elements_center_container-like
            +like-button
        .form-elements_center_container-rate
            +rate
        .form-elements_center_container-dropdown
            +dropdowns-long("Сколько гостей", "input_long input_border", 'long', "dropdown")
        .form-elements_center_container-rich
            +checkbox-rich("Rich Checkbox Buttons")
        .form-elements_center_container-murad
            - let textOne = 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей. '
                    +consumer-comments("man","Мурад Сарафанов", "5 дней назад", 12, textOne)