@import "../../../../assets/utils/_main.scss";

.form-elements {
  &_center {
    width: 20rem;
    &_container {
      &-checkbox {
        margin-top: 8.9375rem;
      }
      &-radio {
        margin: 2.555rem 0 2.7rem 0;
      }
      &-like {
        margin-top: 2.7775rem;
      }
      &-rate {
        margin: 2.5rem 0 12.3rem 0;
      }
      &-rich {
        margin: 16rem 0 0 0;
      }
      &-murad {
        margin-top: 14.45rem;
        .consumer-comments {
          letter-spacing: 0;
        }
      }
    }
  }
}
