include ../../elements/input/input.pug

mixin footer ({classFooter, titlesFooter, textTop, textBottom, email})
    div(class = classFooter)
        .footer__inner
            ul.footer__inner_ul   
                img(src="/public/assets/img/logotypes/logo.svg", alt="")
                p(class="footer__inner_p")= textTop 
            for el in titlesFooter
                ul.footer__inner_ul
                    for i in el
                        li.footer__inner_li
                            a(href="#" class="footer__inner_a")=i
            ul.footer__inner_ul
                for el in textBottom
                    li.footer__inner_li
                        a(href="#" class="footer__inner_a")=el
                +input(email, "input_arrow") 
                    
 
        