include ../../elements/input/input.pug

mixin footer ({classFooter, titlesFooter, textTop, textBottom, email})
    div(class =`footer ${classFooter}`)
        .footer__text-block
            ul.footer__ul   
                img(src="/public/assets/img/logotypes/logo.svg", alt="")
                p(class="footer__paragraph")= textTop 
            for el in titlesFooter
                ul.footer__ul
                    for i in el
                        li.footer__li
                            a(href="#" class="footer__a")=i
            ul.footer__ul
                for el in textBottom
                    li.footer__li
                        a(href="#" class="footer__a")=el
                +input(email, "input__input_arrow") 
                    
 
        