include ../../elements/input/input.pug

mixin footer ({classFooter, titlesFooter, textTop, textBottom, email})
    div(class = classFooter)
        .footer_inner
            ul   
                img(src="https://vodkamishka.github.io/hotel-webpack-pug-scss/public/assets/img/logotypes/logo.svg", alt="")
                p= textTop 
            for el in titlesFooter
                ul
                    for i in el
                        li
                            a(href="#")=i
            ul
                for el in textBottom
                    li
                        a(href="#")=el
                +input(email, "input_arrow") 
                    
 
        