@import '../../../assets/utils/main';

.circle-template {
    width: 120px;
    height: 121px;
    border-style: solid;
    border-radius: 50%;
    border-width: 3px;
    box-sizing: border-box;
    position: absolute;
}
.room-details {
    &_main {
        padding: 70px 9.72%;
        display: flex;
        font-size: 14px;
        line-height: 24px;
        color: $shade75;
        box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    }
    &_left {
        width: 295px;
        margin-right: 67px;
    }
    &_center {
        margin-right: 64px;
    }
    &__title {
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: $shade100;
    }
    &__title-rules {
        margin: 0 0 15px 19.86px;
    }
    &__reviews {
        width: 711px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
    }
    &__review_right {
        font-size: 14px;
        line-height: 14px;
        color: $shade50;
    }
    &__room-information {
            .info-room:first-child {
                margin: 20px 0 41px;
            }
            .info-room:last-child {
                margin: 41px 0 30px;
            }
    }
    &__room-impressions {
        margin-bottom: 474px;
    }
    &__comments-consumer {
        margin-bottom: 34px;
    }
    &__diagramma {
        display: flex;
        align-items: flex-end;
    }
    &__wrapper-circles {
        width: 120px;
        height: 121px;
        margin: 21px 45px 0 0;
        position: relative;
        @include flex-center;
        text-align: center;
    }
    &__circle-title {
        align-items: center;
        flex-direction: column;
        display: flex;
        color: $purple;
        font-weight: bold;
        margin-bottom: 13px;
            span:first-child {
                font-size: 22px;
                line-height: 30px;
            }
            span:last-child {
                font-size: 16px;
                line-height: 15px;
            }
    }
    &__circle1 {
        @extend .circle-template;
        border-color: $purple transparent transparent transparent;
        border-width: 10px;
        transform: rotate(45deg);
    }
    &__circle2 {
        @extend .circle-template;
        border-color:  transparent $green transparent transparent;
        transform: rotate(45deg);
    }
    &__circle3 {
        @extend .circle-template;
        border-color:  transparent  transparent #FFBA9C transparent;
        transform: rotate(45deg);
    }
    &__circle4 {
        @extend .circle-template;
        border-color:  transparent  transparent transparent  #FFE39C;
        transform: rotate(45deg);
    }
    &__list {
        margin-right: 35px;
        ul {
            list-style-type: none;
                li {
                    font-size: 14px;
                    line-height: 24px;
                    color: $shade75;
                    position: relative;
                        &:before {
                            content: '';
                            display: block;
                            border-radius: 50%;
                            position: absolute;
                            left: -15px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 10px;
                            height: 10px;
                            background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
                        }
                        &:nth-child(2):before {
                            background: $green;
                        }
                        &:nth-child(3):before {
                            background: $purple;
                        }
                        &:nth-child(4):before {
                            background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
                        }
                }
        }
    }

    &__room-escape {
        p {
            color: $shade75;
            font-size: 14px;
            line-height: 24px;
            margin-top: 16px;
            width: 341px;
            height: 96px;
        }
    }
    &__comments-consumer {
        .consumer-comments:first-child {
            margin: 23px 0;
        }
    }
}

@media (max-width: 1500px) {
    .room-details {
        &_main {
            flex-wrap: wrap;
        }
    }
}
@media (max-width: 900px) {
    .room-details {
        &__room-impressions {
            margin: 20px 0;
        }
        &__room-escape {
            margin: 20px 0;
        }
        &__rules {
            margin: 20px 0;
        }
    }
}