include ../../components/pages/demo/demo
include ../../components/body/body

+body ('Demo')
+demo ({
    websiteLink: 'https://vodkamishka.github.io/hotel-webpack-pug-scss/public/website-pages/',
    uikitLink: 'https://vodkamishka.github.io/hotel-webpack-pug-scss/public/ui-kit/',
    websiteTitles: [
        {
            title: 'Landing Page', 
            link: 'landing'
        }, 
        {
            title: 'Registration', 
            link: 'registration'
        },
        {
            title: 'Room details', 
            link: 'room-details'}, 
        {
            title: 'Search room/ Filter', 
            link: 'search-room-filter'
        },
        {
            title: 'Sign in', 
            link: 'sign-in'
        }
    ],
    uikitTitles: [
        {
            title: 'Cards',
             link: 'cards'
        }, 
        {
            title: 'Colors & type', 
            link: 'colors-type'
        },
        {
            title: 'Form elements', 
            link: 'form-elements'
        }, 
        {
            title: 'Headers & footers', 
            link: 'headers-footers'
        }
    ]
})
    
