include ../input/input
include ../execute-panel/execute-panel

mixin short-dropdowns (leftLabel, rightLabel, classLabel, placeholder, classInput, classShowDropdown)
    .short-dropdowns
        +input(placeholder, classInput, leftLabel, rightLabel, classLabel)
        .short-dropdown(class= classShowDropdown)
            .short-dropdown__row
                div Спальни
                +execute-panel(2)
            .short-dropdown__row
                div Кровати
                +execute-panel(2)
            .short-dropdown__row
                div Ванные комнаты
                +execute-panel(0)

