
.form-elements {
    &__column-right {
        width: 320px;
        margin-right: 141px;
        background: red;   
    }
    &__container-range-slider {
        margin: 143.44px 0 43.56px 0;
        height: 99.88px;
        border: 1px solid black;
    }
}