
.form-elements {
    &__column-right {
        width: 320px;
        margin-right: 141px;
        background: red;   
    }
    &__container-range-slider {
        margin: 143.44px 0 43.56px 0;
        height: 56px;
        border: 1px solid black;
    }
    &__container-buttons {
        margin: 43.56px 0 16px 0;
    }
    &__container-pagination {
        margin: 40px 0 230px 0;
    }
}