@import "../../../../assets/utils/_main.scss";

.button-register {
  min-height: 2.125rem;
  border-radius: 1.375rem;
  border: none;
  text-transform: uppercase;
  background: $gradient;
  box-sizing: border-box;
  min-width: 6.25rem;
  padding: 0 0.8rem 0.2rem 0.8rem;
  &__text {
    color: $white;
    font-weight: bold;
    font-size: 0.75rem;
    font-family: "Montserrat";
  }
  &:hover {
    background: $gradient;
    color: $white;
    opacity: 0.5;
  }
  &_rus {
  min-width: 12.25rem;
  letter-spacing: 0.0375rem;
  }
}
